<div class="wrapper">
  <div class="form-container">
    <!-- image -->
    <div class="mb-3">
      <div class="form-group">
        <input
          #fileInput
          (change)="onSelectImg($event)"
          class="form-control"
          type="file"
          multiple
        />
      </div>

      <!-- img list -->
      <div
        class="w-full h-[450px] overflow-y-scroll p-2 rounded border border-blue-500"
      >
        <div class="columns-2 md:columns-3 gap-2">

					<!-- old img -->
					<div
            class="break-inside-avoid mb-2 rounded border max-w-[500px] p-1"
            *ngFor="let img of imgFiles"
          >
            <mat-icon (click)="removeImgSaved(img.data)" class="remove-img-icon">delete</mat-icon>
            <span class="break-words">{{ img.name }}</span>
            <img [src]="imgBase + img.data" alt="" />
          </div>

					<!-- new img -->
          <div
            class="break-inside-avoid mb-2 rounded border max-w-[500px] p-1"
            *ngFor="let img of listNewImgUrls"
          >
            <mat-icon (click)="removeImgUnSave(img.data)" class="remove-img-icon">delete</mat-icon>
            <span class="break-words">{{ img.name }}</span>
            <img [src]="img.data" alt="" />
          </div>

        </div>
      </div>
    </div>

    <form [formGroup]="updateGroup" (ngSubmit)="submit()" autocomplete="off">
      <!-- thành phố và loại tour -->
      <div class="flex gap-2">
        <!-- cities -->
        <div class="form-group w-1/2">
          <label class="w-1/3">Chọn thành phố</label>
          <select formControlName="cityId" class="form-control">
            <option *ngFor="let city of allCities" [value]="city.Id">
              {{ city.Name }}
            </option>
          </select>
        </div>

        <!-- loai phong -->
        <div class="form-group w-1/2">
          <label class="w-1/3">Loại tour</label>
          <select formControlName="tourTypeId" class="form-control">
            <option *ngFor="let type of allTourTypes" [value]="type.TourTypeId">
              {{ type.TourTypeName }}
            </option>
          </select>
        </div>
      </div>

      <!-- tên tour và địa chỉ tour -->
      <div class="flex gap-2">
        <div class="form-group w-1/2">
          <label class="w-1/3">Tên tour</label>
          <input
            formControlName="tourName"
            class="form-control"
            type="text"
            placeholder="Tên tour"
						[class]="
            submitted === true &&
            updateGroup.hasError('required', 'tourName')
              ? 'bg-red-200'
              : ''
          "
          />
        </div>

        <div class="form-group w-1/2">
          <label class="w-1/3">Địa chỉ tour</label>
          <input
            formControlName="tourAddress"
            class="form-control"
            type="text"
            placeholder="Địa chỉ"
						[class]="
            submitted === true &&
            updateGroup.hasError('required', 'tourAddress')
              ? 'bg-red-200'
              : ''
          "
          />
        </div>
      </div>

      <!-- overview -->
      <div class="form-group">
        <label class="w-1/6">Over View</label>
        <textarea
          formControlName="overview"
          class="form-control"
          cols="30"
          rows="6"
					[class]="
            submitted === true &&
            updateGroup.hasError('required', 'overview')
              ? 'bg-red-200'
              : ''
          "
        ></textarea>
      </div>

      <!-- lịch trình -->
      <div class="form-group">
        <label class="w-1/6">Lịch trình</label>
        <textarea
          formControlName="schedule"
          class="form-control"
          cols="30"
          rows="6"
					[class]="
            submitted === true &&
            updateGroup.hasError('required', 'schedule')
              ? 'bg-red-200'
              : ''
          "
        ></textarea>
      </div>

      <!-- địa điểm bắt đầu  -->
      <div class="form-group">
        <label class="w-1/6">Địa điểm bắt đầu</label>
        <input
          formControlName="departureLocation"
          class="form-control"
          type="text"
					[class]="
            submitted === true &&
            updateGroup.hasError('required', 'departureLocation')
              ? 'bg-red-200'
              : ''
          "
        />
      </div>

      <!-- địa điểm kết thúc -->
      <div class="form-group">
        <label class="w-1/6">Địa điểm kết thúc</label>
        <input
          formControlName="dropOffLocation"
          class="form-control"
          type="text"
          [class]="
            submitted === true &&
            updateGroup.hasError('required', 'dropOffLocation')
              ? 'bg-red-200'
              : ''
          "
        />
      </div>

      <!-- thêm -->
      <div>
        <button class="btn-primary w-1/2 mx-auto">Cập nhật</button>
      </div>
    </form>
  </div>
</div>
