<div class="wrapper h-screen w-full overflow-y-scroll">
  <div class="container-fluid">
    <!-- search -->
    <div class="search-wrapper">
      <div class="search-container">
        <div class="form-group">
          <button (click)="searchCities()" class="btn-primary">Tìm kiếm</button>
          <input
            class="form-control"
            type="text"
            spellcheck="false"
            placeholder="Tên thành phố"
						[(ngModel)]="searchString"
          />
        </div>
        <div (click)="showAddcityModal()" class="add-btn">
					<mat-icon class="add-icon">add_circle</mat-icon>
          <button class="">
            Thêm tỉnh/thành
          </button>
        </div>
      </div>
    </div>

    <!-- list cities -->
    <div class="city-wrapper ">
      <div class="city-container">

				<div class="city-item" *ngFor="let city of allCities">
					<div class="flex items-center justify-between">
						<div class="text-[1.1em]"><span>{{city.Name}}</span></div>
						<div>
							<mat-icon class="city-icon-delete" title="delete" (click)="showDeleteCity(city)">delete</mat-icon>
							<mat-icon class="city-icon-edit" title="edit" (click)="showEditcityModal(city)">edit</mat-icon>
						</div>
					</div>
					<img class="w-[230px] h-[230px]" [src]="_environment.imgUrl + '/' + city.PhotoPath" alt="no-img">
				</div>
				
			</div>
    </div>
  </div>
</div>

<!-- add city -->
<div [ngClass]="{'h-0' : addcityModal === false, 'h-screen' : addcityModal === true}" class="add-city-wrapper">
	<div class="container mx-auto">
		<div class="form-wrapper">
			<div class="form">
				<form [formGroup]="formSubmit" autocomplete="off" (ngSubmit)="submit()">


					<span class="text-red-500" *ngIf="submitted === true && formSubmit.hasError('required','name')">
						Name must be required
					</span>
					<div class="form-group-add">
						<label >City name</label>
						<input class="form-add" formControlName="name" type="text" >
					</div>
	
					<div class="form-group-add">
						<input class="" type="file" (change)="getFile($event)" #file> <mat-icon title="close image" class="close-img" (click)="closeImg(file)">close</mat-icon>
					</div>
	
					<div class="flex gap-2">
						<input class="btn-primary" type="button" (click)="submit()" value="Add">
						<input class="btn-outline-danger" type="button" (click)="cancel()" value="Cancel">
					</div>
				</form>
			</div>

			<div class="img-show">
				<img [src]="imgUrl" class="w-full" alt="no-image">
			</div>
			
		</div>
	</div>
</div>

<!--  delete city -->
<div *ngIf="deleteCityModal === true && cityDeleteModel !== null" class="delete-city">
	<div class="delete-city-container">
		<div class="mb-5">
			<span>Do you want to delete <b>{{cityDeleteModel.Name}}</b></span>
		</div>
		<div class="flex items-center justify-center gap-2">
			<button class="btn-danger" (click)="deleteCitySubmit()">Delete</button>
			<button class="btn-outline-primary" (click)="showDeleteCity(null)">Cancel</button>
		</div>
	</div>
</div>

<!-- edit city -->
<div [ngClass]="{'h-0' : editCityModal === false, 'h-screen' : editCityModal === true}" class="add-city-wrapper">
	<div class="container mx-auto">
		<div class="form-wrapper">
			<div class="form">
				<form [formGroup]="formEdit" autocomplete="off" (ngSubmit)="editSubmit()">
		
					<span class="text-red-500" *ngIf="submitted === true && formEdit.hasError('required','name')">
						Name must be required
					</span>
					<div class="form-group-add">
						<label >City name</label>
						<input class="form-add" formControlName="name" type="text" >
					</div>
	
					<div class="form-group-add">
						<input class="" type="file" (change)="getFile($event)" #file> <mat-icon title="close image" class="close-img" (click)="closeImg(file)">close</mat-icon>
					</div>
	
					<div class="flex gap-2">
						<button class="btn-primary">Update</button>
						<input class="btn-outline-danger" type="button" (click)="showEditcityModal(null)" value="Cancel">
					</div>
				</form>
			</div>

			<div class="img-show">
				<img [src]="imgUrl" class="w-full" alt="no-image">
			</div>
			
		</div>
	</div>
</div>