@model ChangePassword
@{
    ViewData["Title"] = "Đổi mật khẩu";
    string email = ViewBag.Email;
}


<link rel="stylesheet" href="~/css/signin.css" asp-append-version="true" />

<div class="">
    <form asp-area="ManageProfile" asp-controller="Profile" asp-action="ChangePassword" class="login mx-auto">

        <div class="text-center intro">
            <img src="~/assets/svg/account.svg" width="160">
        </div>

        <div class="mt-4">
            <h4 class="text-center">Đổi mật khẩu</h4>

            <div class="mt-3 inputbox">
                <input asp-for="Email" type="hidden" value="@email">
            </div>

            <div class="mt-3 inputbox">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Mật khẩu cũ">
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>

            <div class="mt-3 inputbox">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Mật khẩu mới">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>

            <div class="mt-3 inputbox">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-primary w-100">Đổi mật khẩu</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}