<div class="wrapper flex justify-center h-screen">

	<div class=" confirm_email ">
		<div class=" ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#8FCBEB" class="mt-8 icon">
				<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
			  </svg>
		</div>
		<div class="mt-5 text-xl font-medium text-center">
			<p>Email sent</p>
		</div>
		<div class="text-center text-lg ">
			<p>Please check your email to reset password</p>
		</div>
	</div>
</div>