<ng-container *ngIf="sharedService.isLoading$| async as isLoading">

<div *ngIf="isLoading === true"
  class="fixed top-0 w-full h-full flex justify-center items-center bg-[#e4e4e7]/30"
>
  <div class="loading">
    <div class="bg-dot">
      <div class="dot"></div>
    </div>
    <div class="bg-dot">
      <div class="dot"></div>
    </div>
    <div class="bg-dot">
      <div class="dot"></div>
    </div>
    <div class="bg-dot">
      <div class="dot"></div>
    </div>
  </div>
</div>

</ng-container>
