.loading {
  @apply w-[200px] h-20 flex items-center justify-around;
}

.bg-dot {
  @apply h-10 w-10 flex items-center justify-center;
}

.bg-dot:nth-child(1) .dot {
  @apply bg-blue-500;
  animation-delay: -1s;
}

.bg-dot:nth-child(2) .dot {
  @apply bg-red-500;
  animation-delay: -0.75s;
}

.bg-dot:nth-child(3) .dot {
  @apply bg-yellow-500;
  animation-delay: -0.5s;
}

.bg-dot:nth-child(4) .dot {
  @apply bg-green-500 ;
  animation-delay: -0.25s;
}

.dot {
  @apply h-6 w-6 rounded-full;
  animation: loading 0.7s ease-in-out infinite alternate;
  box-shadow: 0px 0px 3px gray;
}
@keyframes loading {
  0% {
    //transform: translateY(15px);
    @apply h-10 w-10;
  }
  100% {
    //transform: translateY(-15px);
    @apply h-6 w-6;
  }
}
