.baner{
    @apply w-screen h-[730px];
}
.bg-banner{
    @apply w-screen h-[750px];
    background-image: url('https://pix6.agoda.net/geo/city/13170/1_13170_02.jpg?ca=6&ce=1&s=1920x822');
    
}
.bg-color{
    @apply w-full h-[750px] ;
    background-color: rgba(0,0,0,.5);
    position: absolute; 
}
.banner-header{
    @apply text-center text-white  mt-40;
    line-height: 1.1;
    scrollbar-highlight-color: transparent;
     font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: white
    font-family mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.font{
    
    @apply text-black w-full py-6 text-[16px] text-center;
}
.search-box{
    @apply w-auto h-[90px] mt-4 m-52 bg-slate-100 flex justify-between items-center space-x-0.5 px-3 rounded-sm;
    background-color: rgba(255,255,255,.8);
    
}
.search{
    @apply h-[66px] bg-white rounded-md shadow-lg ;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: 0 4px 10px 0px rgba(0,0,0,.15);
}
.find-button{
    @apply h-[66px] rounded-md text-lg active:bg-blue-700  bg-blue-500 transition transform hover:-translate-y-0.5 motion-reduce:transition-none motion-reduce:hover:transform-none;
       
}

.checkOut:before {
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    background: #fff;
    content: "";
}
.checkOut:after {
    border-right: 1px solid #ccc;
    position: absolute;
    top: 10px;
    bottom: 10px;
    content: "";
}
.star{
    @apply text-lg font-medium ;
}
.box-size{
    @apply w-5 h-5 mr-3 mb-4 ;
}
.sortbar{
    @apply w-[187px] h-[74px] text-center p-6 font-medium border-2 border-gray-300;
}
.benefithotel{
    @apply border-2 border-gray-300 p-1;
}
