<div
  class="mx-32 flex items-start justify-center w-auto h-auto py-24 sm:py-8 px-4"
>
  <div class="w-full relative flex items-center justify-center">
    <button
      aria-label="slide backward"
      class="absolute z-30 left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
      (click)="goPrev()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7 1L1 7L7 13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
      <div
        id="slider"
        class="h-full flex gap-2 items-center justify-start transition ease-out duration-700"
      >
        <div
          class="flex flex-shrink-0 relative w-[400px] max-w-[400px] h-[400px] sm:w-auto"
          *ngFor="let img of hotelImg"
        >
          <img
            [src]="baseImg + img.data"
            [alt]="hotel?.HotelName"
            class="rounded-lg object-cover object-center w-full"
          />
          <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
            <div class="flex h-full items-end pb-6">
              <h3
                class="text-md lg:text-2xl font-semibold leading-5 lg:leading-6 text-white"
              >
                {{ hotel?.HotelName }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      aria-label="slide forward"
      class="absolute z-30 right-0 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
      (click)="goNext()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 1L7 7L1 13"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>
<!--================================================================================-->
<div *ngIf="hotel !== null" class="hotel-info">
  <div class="text-3xl font-bold hover:underlineg]">{{ hotel.HotelName }}</div>
  <div class="text-lg">
    Địa chỉ: <i>{{ hotel.Address }}</i>
  </div>

  <div class="list-rooms">
    <div class="text-xl font-bold">Các phòng</div>

    <div class="rom-container">
      <div
        class="w-full flex gap-2 justify-start items-start"
        *ngFor="let room of rooms; let i = index"
      >
        <!-- infor -->
        <div class="w-1/2 border-2 h-auto p-2">
          <div>
            <strong>{{ room.RoomNumber }}</strong>
          </div>
          <div>
            <strong>{{ room.RoomName }}</strong>
          </div>
          <div>
            <i>{{ room.Description }}</i>
          </div>
          <div>
            <p>{{ room.Description }}</p>
          </div>
          <div>
            <p>Loại phòng{{ room.RoomType.RoomTypeName }}</p>
          </div>
          <div>
            <p>Giá phòng: {{ room.RoomPrice.Price }}</p>
          </div>

          <div>
            <button
              class="btn-primary"
              *ngIf="room.IsAvailable === true"
              routerLink="/city/book"
            >
              Đặt phòng
            </button>
            <button class="btn-primary" *ngIf="room.IsAvailable === false">
              Hết chỗ
            </button>
          </div>

          <hr />
          <div class="text-lg">{{ hotel.Description }}</div>
        </div>

        <div class="lg:w-7/12 lg:mt-0 mt-8">
          <div class="w-full h-full bg-red-200">
              <img [src]="baseImg + fileNames[i]" alt="apartment design" class="w-full sm:block hidden" />
              <!--<img src="https://i.ibb.co/ZVPGjGJ/pexels-max-vakhtbovych-6782351-1.png" alt="apartment design" class="sm:hidden block w-full" />-->
          </div>
          <!--<div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 lg:gap-8 gap-6 lg:mt-8 md:mt-6 mt-4">
              <img src="https://i.ibb.co/4Jrp5TB/pexels-max-vakhtbovych-6782370-1.png" class="w-full" alt="kitchen" />
              <img src="https://i.ibb.co/0Jv3FSy/pexels-max-vakhtbovych-6436799-1-1.png" class="w-full" alt="sitting room" />
          </div>-->

      </div>

      </div>
    </div>
  </div>
</div>
