<div
  class="md:flex items-start justify-center py-12 2xl:px-20 md:px-6 px-4"
  *ngIf="room !== null"
>

  <div class="list-img xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
    <div class="columns-1 gap-2">
      <div
        *ngFor="let url of imgFiles"
        class="break-inside-avoid mb-2 rounded border p-2"
      >
        <img [src]="envImgUrl + url.data" alt="" />
      </div>
    </div>
  </div>

  <div class="xl:w-2/5 md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6">
    <div class="border-b border-gray-200 pb-6">
      <h1 class="text-xl">Số phòng: {{ room.RoomNumber }}</h1>
    </div>

		<div class="border-b border-gray-200 pb-6">
      <h3 class="text-xl">Tên phòng: {{ room.RoomName }}</h3>
    </div>

    <p
      class="dark:bg-white dark:text-gray-900 outline-none text-base leading-none text-white bg-gray-800 w-full py-4"
    >
      {{room.Description}}
    </p>
    <div>
      <p
        class="xl:pr-48 text-base lg:leading-tight leading-normal text-gray-600 mt-7"
      >
        {{ room.Description }}
      </p>
      <p class="text-base leading-4 mt-7 text-gray-600">
      	Giá phòng: <strong>{{ room.RoomPrice }}</strong>
      </p>

			<p class="text-base leading-4 mt-7 text-gray-600">
      	Loại phòng: <strong>{{ room.RoomType.RoomTypeName }}</strong>
      </p>

			<p class="text-base leading-4 mt-7 text-gray-600" *ngIf="room.IsAvailable === true">
      	Loại phòng: <strong> Phòng còn trống </strong>
      </p>

			<p class="text-base leading-4 mt-7 text-gray-600" *ngIf="room.IsAvailable === false">
      	Loại phòng: <strong> Phòng đã được đặt </strong>
      </p>

    </div>
    <div>
      
			<div>
				<a class="btn-success" routerLink="/agent/{{room.Hotel.Id}}/manage-rooms">Quay lại</a>
			</div>

    </div>
  </div>
</div>
