.modal-body {
    background-color: #5165ff;
    border-color: #5165ff;
}

.intro-1 {
    font-size: 20px
}

.close {
    color: #fff
}

    .close:hover {
        color: #fff
    }

.intro-2 {
    font-size: 13px
}


