<div class="wrapper h-screen w-full overflow-y-scroll">
  <div class="container-fluid">
    <!-- search -->
    <div class="search-wrapper">
      <div class="search-container">
        <div class="form-group">
          <button class="btn-primary">Search</button>
          <input
            class="form-control"
            type="text"
            spellcheck="false"
            placeholder="Hotel name"
          />
        </div>
        <div class="add-btn" (click)="showAddHotelModal()">
          <mat-icon class="add-icon">add_circle</mat-icon>
          <button class="">Add hotel</button>
        </div>
      </div>
    </div>

    <!-- list cities -->

    <div class="city-container">
      <div
        class="city-item"
        *ngFor="let hotel of allHotels"
        routerLinkActive="link-active"
      >
        <div class="flex items-center justify-between">
          <div class="text-[1.1em]">
            <span>{{ hotel.HotelName }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add city -->
<div
  [ngClass]="{
    'h-0': addHotelModal === false,
    'h-screen': addHotelModal === true
  }"
  class="add-hotel-wrapper"
>
  <div class="container mx-auto">
    <div class="form-wrapper">
      <div class="form">
        <form
          [formGroup]="formAddHotel"
          autocomplete="off"
          (ngSubmit)="addHotelSubmit()"
        >
          <span
            class="text-red-500"
            *ngIf="
              submitted === true &&
              formAddHotel.hasError('required', 'hotelName')
            "
          >
            Hotel name must be required
          </span>
          <div class="form-group-add">
            <label class="">Hotel name</label>
            <!--<input class="form-add" formControlName="hotelName" type="text" >-->
            <textarea
              class="form-add"
              formControlName="hotelName"
              cols="30"
              rows="4"
              spellcheck="false"
            ></textarea>
          </div>

          <div class="flex gap-2">
            <input
              class="btn-primary"
              type="button"
              (click)="addHotelSubmit()"
              value="Add"
            />
            <input
              class="btn-outline-danger"
              type="button"
              (click)="showAddHotelModal()"
              value="Cancel"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
