.form-group {
	@apply flex justify-start items-start gap-2 mb-2;

	.form-control {
		@apply w-full p-2 text-[1.2em] outline-none rounded duration-200;
    border: 1px solid #2563eb;
		
    &:focus {
      box-shadow: 1px 0px 5px #2563eb;
    }
	}
}

textarea {
	resize: none;
}

.remove-img-icon {
	@apply duration-150 text-red-500;
	cursor: pointer;

	&:hover {
		@apply  text-red-800;
	}
}