@model Package
@{
    ViewData["Title"] = "Chi tiết gói";
}

<!-- Content wrapper start -->
<div class="content-wrapper h-100 ">
    <!-- Row start -->
    <div class="row">
        <div class="col-sm-12 col-12">
            <div class="card">

                <div class="card-header">
                    <div class="card-title">Thông tin gói</div>
                </div>

                <div class="card-body">
                    <!-- Row start -->
                    <div class="row">
                        <div class="col-xxl-8 col-sm-8 col-12">
                            <!-- Row start -->
                            <div class="row">

                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label class="form-label"></label>
                                        <input type="text"
                                               class="form-control"
                                               readonly />
                                    </div>
                                </div>

                                <div class="col-sm-6 col-12">
                                    <div class="mb-3">
                                        <label class="form-label"></label>
                                        <input type="text"
                                               class="form-control"
                                               readonly />
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mb-2">
                                        <label class="form-label">Notes about your order</label>
                                        <textarea rows="20" class="form-control">Quick Delivery</textarea>
                                    </div>
                                </div>

                            </div>
                            <!-- Row end -->
                        </div>

                        <div class="col-sm-4 col-12">
                            <!-- Products List -->
                            <div class="product-list-card">
                                <h5>Giá</h5>

                                <div class="product-list-block">
                                    <div class="product-list-details">
                                        <h5 class="product-list-title">
                                            Barbecue Chicken Salad
                                        </h5>
                                        <div class="product-list-price">$25.00</div>
                                    </div>
                                </div>

                                <div class="product-list-block">
                                    <div class="product-list-details">
                                        <h5 class="product-list-title">
                                            Harvest Cobb Salad
                                        </h5>
                                        <div class="product-list-price">$15.00</div>
                                    </div>
                                </div>

                                <div class="product-list-block">
                                    <div class="product-list-details">
                                        <h5 class="product-list-title">Greek Salad</h5>
                                        <div class="product-list-price">$28.00</div>
                                    </div>
                                </div>

                                <div class="product-list-block">
                                    <div class="product-list-details">
                                        <h5 class="product-list-title">
                                            Garden Chickpea Salad
                                        </h5>
                                        <div class="product-list-price">$22.00</div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

