<div class="wrapper">
  <div
    [class]="formSuccess === true ? 'form-success' : 'form-error'"
    class="container mx-auto md:w-[500px] p-5 rounded my-2"
  >
    <form [formGroup]="signUpForm" (ngSubmit)="submit()" autocomplete="off">
      <div class="title font-bold text-[1.7em] mb-9">
        <span>Thêm tài khoản cho đối tác</span>
      </div>

      <!--<div class="text-red-500" *ngFor="let i of errorMessages">
        {{ i }} <br>
      </div>-->

      <div class="text-[1.2em] mb-4 flex gap-2 items-start justify-start">

        <!-- first name -->
        <div class="w-1/2">
          <label class="block mb-2">Họ</label>
          <input
            [class]="inputValidation('firstName')"
            type="text"
            formControlName="firstName"
            spellcheck="false"
            placeholder="Nguyễn Văn"
          />
          <span
            class="text-red-500"
            *ngIf="
              submitted === true && signUpForm.hasError('required', 'firstName')
            "
          >
            Họ không được bỏ trống
          </span>
        </div>

        <!-- last name -->
        <div class="w-1/2">
          <label class="block mb-2">Tên</label>
          <input
            [class]="inputValidation('lastName')"
            type="text"
            formControlName="lastName"
            spellcheck="false"
            placeholder="A"
          />
          <span
            class="text-red-500"
            *ngIf="
              submitted === true && signUpForm.hasError('required', 'lastName')
            "
          >
            Tên không được bỏ trống
          </span>
        </div>
      </div>

      <!-- loại đối tác -->
      <div class="text-[1.2em] mb-4">
        <label class="block mb-2">Loại đối tác</label>
        <select [class]="inputValidation('agentType')">
          <option value="hotel" selected>Đối tác khách sạn</option>
          <option value="tour" selected>Đối tác tour du lịch</option>
        </select>
        <span
          class="text-red-500"
          *ngIf="submitted === true && signUpForm.hasError('required', 'email')"
        >
          mail không được để trống
        </span>
        <span
          class="text-red-500"
          *ngIf="submitted === true && signUpForm.hasError('email', 'email')"
        >
          Email sai định dạng
        </span>
      </div>

      <!-- email -->
      <div class="text-[1.2em] mb-4">
        <label class="block mb-2">Email</label>
        <input
          [class]="inputValidation('email')"
          type="email"
          formControlName="email"
          spellcheck="false"
          placeholder="Email"
        />
        <span
          class="text-red-500"
          *ngIf="submitted === true && signUpForm.hasError('required', 'email')"
        >
          Email is required
        </span>
        <span
          class="text-red-500"
          *ngIf="submitted === true && signUpForm.hasError('email', 'email')"
        >
          Email is invalid
        </span>
      </div>

      <!-- address -->
      <div class="text-[1.2em] mb-4">
        <label class="block mb-2">Địa chỉ đối tác</label>
        <input
          [class]="inputValidation('address')"
          type="text"
          formControlName="address"
          spellcheck="false"
          placeholder="450 Lê Văn Việt, Tăng Nhơn Phú A, thành phố Thủ Đức, Hồ Chí Minh"
        />
        <span
          class="text-red-500"
          *ngIf="
            submitted === true && signUpForm.hasError('required', 'address')
          "
        >
          Địa chỉ đối tác không được bỏ trống
        </span>
      </div>

      <!-- phone number -->
      <div class="text-[1.2em] mb-4">
        <label class="block mb-2">Số điện thoại</label>
        <input
          [class]="inputValidation('phoneNumber')"
          type="text"
          formControlName="phoneNumber"
          spellcheck="false"
          placeholder="0123456789"
        />
        <span
          class="text-red-500"
          *ngIf="
            submitted === true && signUpForm.hasError('required', 'phoneNumber')
          "
        >
        Số điện thoại không được bỏ trống
        </span>
        <span
          class="text-red-500"
          *ngIf="
            submitted === true && signUpForm.hasError('pattern', 'phoneNumber')
          "
        >
        Số điện thoại sai định dạng
        </span>
      </div>

      <!-- password -->
      <div class="text-[1.2em] mb-4">
        <label class="block mb-2">Mật khẩu mặt định</label>
        <input
          [class]="inputValidation('password')"
          type="text"
          formControlName="password"
          spellcheck="false"
					readonly
        />
      </div>
      <div>
        <button class="btn-primary w-full mb-2">Thêm</button>
      </div>
    </form>
  </div>
</div>
