@model string

@{
    ViewData["Title"] = "Quên mật khẩu";
}

<form asp-area="Authentication" asp-controller="Authentication" asp-action="ForgotPassword">
    <div class="login-box">
        <div class="login-form">
            <a href="index.html" class="login-logo">
                <img src="~/assets/admin-layout/images/logo.svg" alt="Vico Admin" />
            </a>
            <div class="login-welcome">
                Vui lòng nhập id email bạn đã cung cấp trong quá trình đăng ký
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input name="email" type="email" class="form-control" placeholder="Nhập email của bạn">
            </div>
            <div class="login-form-actions">
                <a class="btn btn-outline-primary" asp-area="Authentication" asp-controller="Authentication" asp-action="Login">
                    <span class="icon"> <i class="bi bi-arrow-left-circle"></i></span>
                    Trở lại
                </a>
                <button type="submit" class="btn">
                    <span class="icon"> <i class="bi bi-arrow-right-circle"></i> </span>
                    Tiếp tục
                </button>
            </div>
        </div>
    </div>
</form>

@* <link rel="stylesheet" href="~/css/forgotpassword.css" asp-append-version="true" />

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header text-center text-light bg-custom">
            <h1 class=" text-center">Quên mật khẩu</h1>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <p>Hãy nhập email của bạn để lấy lại mật khẩu</p>
                            <div class="panel-body">
                                <form asp-area="Authentication" asp-controller="Authentication" asp-action="ForgotPassword">
                                    <span class="text-danger">@Model</span>
                                    <div class="form-group mb-2 ">
                                        <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email">
                                    </div>
                                    <button class="btn btn-primary w-100"  type="submit">
                                        Gửi
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-12">
                <a class="btn btn-outline-primary" asp-area="Authentication" asp-controller="Authentication" asp-action="Login">Trở lại</a>
            </div>
        </div>
    </div>
</div>
 *@