@{
    List<Tour> tours = ViewBag.tourList;
    string baseImgUrl = ViewBag.BaseImgUrl;
    List<double> prices = ViewBag.prices;
}
<link rel="stylesheet" href="~/css/search-tours/custom-tour.css" />

<div class="card-body">

    <!-- Row start -->
    <div class="row">
        @{
            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            for (int i = 0; i < tours.Count(); i++)
            {
                string folderPath = @"wwwroot/resources/images/" + tours[i].PhotoPath;

                List<string> files = new List<string>();

                if (Directory.Exists(folderPath))
                {
                    files.AddRange(Directory.GetFiles(folderPath));
                }
                else
                {
                    files.Add("no-image.jpg");
                }

                string tmp = files[0];

                <div class="col-xxl-3 col-md-4 col-sm-6 col-12">
                    <div class="product-card">
                        <img class="product-card-img-top" src="@baseImgUrl/@tmp" alt="No image">
                        <div class="product-card-body">
                            <h5 class="product-title">@tours[i].TourName</h5>
                            <div class="product-price">
                                <span class="disount-price">@string.Format(info, "{0:c}", @prices[i])</span>

                            </div>
                            <!--<div class="product-rating">
                                <div class="rate1 rating-stars"></div>
                                <div class="total-ratings">2750</div>
                            </div>-->

                            <div class="product-actions">
                                @* 									START TEST *@
                                <button class="btn btn-success addToCart">
                                    <a asp-action="tourdetail" asp-route-tourId=@tours[i].TourId>Xem</a>
                                </button>
                                @* 									END TEST *@
                                @* 											<button class="btn btn-success addToCart">Xem</button> *@
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <!-- Row end -->

</div>
<script src="~/js/search-tours/custom-tour.js"></script>