@{
    List<Tour> tours = ViewBag.tourList;
    string baseImgUrl = ViewBag.BaseImgUrl;
    List<double> prices = ViewBag.prices;

    List<string> imgUrls = ViewBag.imgUrls;
}
<link rel="stylesheet" href="~/css/search-tours/custom-tour.css" />

<div class="card-body">

    <!-- Row start -->
    @if (tours.Count() <= 0)
    {
        <div class="d-flex algin-items-center justify-content-center">

            <div class="fs-4 fw-bold">Không có tour du lịch nào</div>

        </div>
    }
    else
    {
        <div class="row">
            @{
                for (int i = 0; i < tours.Count(); i++)
                {
                    <div class="col-xxl-3 col-md-4 col-sm-6 col-12 cus-tour">
                        <div class="product-card cus-card" style="height:100%; margin:0; padding:2px">
                            <img class="product-card-img-top" style="width: 100%; height: 153px" src="@baseImgUrl/@imgUrls[i]" alt="No image">
                            <div class="product-card-body ">
                                <div class="product-title limited-lines">
                                    <h5 style="">@tours[i].TourName </h5>
                                </div>
                                <div class="product-price">
                                    @if (prices[i] == -1)
                                    {
                                        <span class="disount-price">Chưa cập nhật</span>
                                    }
                                    else
                                    {
                                        <span class="disount-price">@prices[i] VNĐ</span>
                                    }
                                </div>
                                <!--<div class="product-rating">
                                    <div class="rate1 rating-stars"></div>
                                    <div class="total-ratings">2750</div>
                                </div>-->
                            </div>

                            <div class="product-card-footer">
                                <div class="product-actions">
                                    <a class="btn btn-primary addToCart" asp-action="tourdetail" asp-route-tourId=@tours[i].TourId>Xem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
    
    <!-- Row end -->

</div>
<script src="~/js/search-tours/custom-tour.js"></script>