@model string;

@{
    /*
     * obj[0]: title
     * obj[1]: FirstName
     * obj[2]: LastName
     * obj[3]: Email
     */
    string[] obj = Model.Split(',');
}

<!-- Modal -->
<div class="modal fade" id="lockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@obj[0]</h5>
                <button type="button" class="btn-danger rounded-full" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn hủy khóa: @obj[1] @obj[2]
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="UserManager" asp-action="LockUser" asp-route-email="@obj[3]">Hủy khóa</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở lại</button>
            </div>
        </div>
    </div>
</div>