<div class="wrapper" *ngIf="hotel !== null">
  
  <!-- search -->
  <div class="border flex justify-between item-center">
    <!-- search -->
    <div class="search">
      <button class="btn-primary">Search</button>
      <input class="search-input" type="text" placeholder="user name" />
    </div>

    <!-- add -->
    <div class="flex items-center gap-2">
      <div class="delete-btn" (click)="deleteHotel()" >
        <mat-icon title="delete user" class="delete-hotel-icon">delete</mat-icon>
        <button>Delete hotel</button>
      </div>

      <div class="add-btn" (click)="showaddAgent()">
        <mat-icon class="add-icon">add_circle</mat-icon>
        <button>Add agent</button>
      </div>
    </div>
  </div>

  <div class="hotel-name text-2xl font-bold">
    {{ hotel.HotelName }}
  </div>

  <!-- list agent -->
  <div class="w-full">
    <div class="user-table">
      <table class="mb-1">
        <thead>
          <tr>
            <!--<th>.NO</th>-->
            <th>Name</th>
            <th>Email</th>
            <th>EmailConfirmed</th>
            <th>PhoneNumber</th>
            <th>LockoutEnd</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let agent of agents; let i = index">
            <!--<td>{{pageSize * currentPage + i + 1}}</td>-->
            <td>{{agent.FirstName}} {{agent.LastName}}</td>
            <td>{{agent.Email}}</td>
            <td>{{agent.EmailConfirmed}}</td>
            <td>{{agent.PhoneNumber}}</td>
            <td class="text-[#f97316] font-bold">{{agent.LockoutEnd | date : 'hh:mm - dd/MM/yyyy'}}</td>
            <td>
              <mat-icon (click)="lockUser('lock',agent)" *ngIf="agent.LockoutEnd === null" title="lock" class="action-lock-icon">lock</mat-icon>
              <mat-icon (click)="lockUser('un-lock',agent)" *ngIf="agent.LockoutEnd !== null" title="un-lock" class="action-lock-icon">lock_open</mat-icon>
              <mat-icon (click)="showDeleteAgent(agent)" title="delete user" class="action-delete-icon">delete</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- pagination -->
      <div class="flex items-center justify-start gap-2">
        <!--<mat-icon class="navigate-btn" (click)="prevPage()">navigate_before</mat-icon>

        <div>
          {{currentPage + 1}} / {{totalPages}}
        </div>

        <mat-icon class="navigate-btn" (click)="nextPage()">navigate_next</mat-icon>-->
      </div>

    </div>
  </div>
</div>

<!-- add agent -->
<div *ngIf="isShowedAgent === true" class="add-agent-wrapper">
  <div class="add-agent-container">
    <div class="form"  [class]="addFormSuccess === true ? 'form-success' : 'form-error'">
      
			<div *ngFor="let err of erroMessage" class="text-red-500 text-[1.1em]">
				{{err}} <br>
			</div>

      <form [formGroup]="signUpForm" (ngSubmit)="submit()" autocomplete="off">
        <!-- first name -->
        <div class="text-[1.2em] mb-4">
          <label class="block mb-2">First name</label>
          <input
            [class]="inputValidation('firstName')"
            type="text"
            formControlName="firstName"
            spellcheck="false"
            placeholder="First Name"
          />
          <span
            class="text-red-500"
            *ngIf="
              submitted === true && signUpForm.hasError('required', 'firstName')
            "
          >
            First name is required
          </span>
        </div>

        <!-- last name -->
        <div class="text-[1.2em] mb-4">
          <label class="block mb-2">Last name</label>
          <input
            [class]="inputValidation('lastName')"
            type="text"
            formControlName="lastName"
            spellcheck="false"
            placeholder="Last Name"
          />
          <span
            class="text-red-500"
            *ngIf="
              submitted === true && signUpForm.hasError('required', 'lastName')
            "
          >
            Last name is required
          </span>
        </div>

        <!-- email -->
        <div class="text-[1.2em] mb-4">
          <label class="block mb-2">Email</label>
          <input
            [class]="inputValidation('email')"
            type="email"
            formControlName="email"
            spellcheck="false"
            placeholder="Email"
          />
          <span
            class="text-red-500"
            *ngIf="
              submitted === true && signUpForm.hasError('required', 'email')
            "
          >
            Email is required
          </span>
          <span
            class="text-red-500"
            *ngIf="submitted === true && signUpForm.hasError('email', 'email')"
          >
            Email is invalid
          </span>
        </div>

        <!-- phone number -->
        <div class="text-[1.2em] mb-4">
          <label class="block mb-2">Phone number</label>
          <input
            [class]="inputValidation('phoneNumber')"
            type="text"
            formControlName="phoneNumber"
            spellcheck="false"
            placeholder="Phone number"
          />
          <span
            class="text-red-500"
            *ngIf="
              submitted === true &&
              signUpForm.hasError('required', 'phoneNumber')
            "
          >
            PhoneNumber is required
          </span>
        </div>

        <!-- password -->
        <div class="text-[1.2em] mb-4">
          <label class="block mb-2">Password</label>
          <input class="input-field" type="text" value="abc123" readonly />
        </div>

				<div>
					<button  class="btn-primary w-full mb-2">Add agent</button>
					<button (click)="showaddAgent()" class="btn-primary w-full mb-2">Cancel</button>
				</div>

      </form>
    </div>
  </div>
</div>

<!-- delete user modal -->
<div *ngIf="deleteAgent === true && agentToDelete !== null" class="delete-user-wrapper">
	<div class="delete-user-container">

		<div class="text-[1.5em] text-red-600 mb-3">Do you want to delete <b>{{agentToDelete.FirstName + ' ' + agentToDelete.LastName }}</b></div>
		<!--<div>Do you want to delete hahaha</div>-->
		<div class="flex justify-center items-center gap-2">
			<button (click)="deleteAgentSubmit()" class="btn-danger">Yes</button>
			<button (click)="showDeleteAgent(null)" class="btn-outline-primary">Cancel</button>
		</div>
	</div>
</div>