<div class="sidebar-wrapper">
	<div class="sidebar-container">

		<!-- menu -->
		<div class="menu-container">
			<ul>
				<li class="menu-item" routerLink="/agent/bussiness-info" routerLinkActive="menu-active" >Thông tin khách sạn</li>
				<li class="menu-item" routerLink="/agent/post" routerLinkActive="menu-active" >Quản lý bài viết</li>
				<li class="menu-item" routerLink="/agent/manage-room-type" routerLinkActive="menu-active" >Quản lý loại phòng</li>
			</ul>
		</div>

		<!-- menu collapse -->
		<div class="menu-collapse">
			<ul>
				<!--<li class="menu-item-collapse" routerLink="/admin/profile" routerLinkActive="menu-active" ><mat-icon>person</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/user-management" routerLinkActive="menu-active" ><mat-icon>people</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/city-manager" routerLinkActive="menu-active" ><mat-icon>location_city</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/notification" routerLinkActive="menu-active" ><mat-icon>notifications</mat-icon></li>
				<li class="menu-item-collapse" routerLinkActive="menu-active" ><mat-icon> contact_mail</mat-icon></li>-->
			</ul>
		</div>

	</div>
</div>