<div class="sidebar-wrapper">
	<div class="sidebar-container">

		<!-- menu -->
		<div class="menu-container">
			<ul>
				<li class="menu-item" routerLink="/agent/profile-agent" routerLinkActive="menu-active" >Profile</li>
				<li class="menu-item" routerLink="/agent/hotel" routerLinkActive="menu-active" >Hotel dasboard</li>
				<li class="menu-item" routerLink="/agent/room-dashboard" routerLinkActive="menu-active" >Room dasboard</li>
				<li class="menu-item" routerLink="/agent/room-details" routerLinkActive="menu-active" >Room details</li>
				<!--<li class="menu-item" routerLink="/admin/city-manager" routerLinkActive="menu-active" >Cities</li>
				<li class="menu-item" routerLink="/admin/notification" routerLinkActive="menu-active" >Notification</li>
				<li class="menu-item" routerLinkActive="menu-active" >Feed back</li>-->
			</ul>
		</div>

		<!-- menu collapse -->
		<div class="menu-collapse">
			<ul>
				<li class="menu-item-collapse" routerLink="/admin/profile" routerLinkActive="menu-active" ><mat-icon>person</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/user-management" routerLinkActive="menu-active" ><mat-icon>people</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/city-manager" routerLinkActive="menu-active" ><mat-icon>location_city</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/notification" routerLinkActive="menu-active" ><mat-icon>notifications</mat-icon></li>
				<li class="menu-item-collapse" routerLinkActive="menu-active" ><mat-icon> contact_mail</mat-icon></li>
			</ul>
		</div>

	</div>
</div>