<div class="wrapper">
  <div class="container">

    <!-- actions -->
    <div class="p-2 border-b flex justify-between items-center">
      <div class="flex gap-2">
        <button class="btn-primary">Tìm</button>
        <input class="search-input" type="text" placeholder="Tên bài viết" />
      </div>

      <div>
        <button
          class="btn-primary"
          routerLink="/agent/add-post"
        >
          Thêm bài viết
        </button>
      </div>
    </div>

    <!-- list -->
    <div class="posts">

      <div class="post-item" routerLink="/agent/post-detail/1" >
        <span class="block text-[1.3em] font-bold"> Tên khách sạn dsdsef</span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>

      <div class="post-item">
        <span class="block text-[1.3em] font-bold"> Tên khách sạn </span>
        <span class="block"> Địa chỉ </span>
        <span class="block font-bold"> Ngày đăng: 11/02/2023 </span>
      </div>
    </div>
  </div>
</div>
