.container {
  @apply p-2 w-full;
}

.search-input {
  @apply w-[200px] outline-none px-3 py-2 rounded border-2 duration-100;

  &:focus {
    box-shadow: 0px 0px 1px 1px #2563eb;
  }
}

.posts {
  @apply  overflow-y-scroll p-2;
  min-height: calc(100vh - 110px);
  max-height: calc(100vh - 110px);
}

.post-item {
  @apply min-w-[200px] h-[100px] w-[220px] border-2 border-[#2563eb] p-2 rounded cursor-pointer duration-[50ms];

  .remove-img-icon {
    @apply duration-75;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: red;
    &:hover {
      box-shadow: 0px 0px 2px 2px gray;
    }
  }

  &:hover {
    box-shadow: 0px 0px 2px 2px #2563eb;
  }
}
