<div class="wrapper">
  <div class="container">
    <!-- actions -->
    <div class="p-2 border-b flex justify-between items-center">
      <div class="flex gap-2">
        <button class="btn-primary">Tìm</button>
        <input class="search-input" type="text" placeholder="Tên bài viết" />
      </div>

      <div>
        <button class="btn-primary" routerLink="/agent/add-post">
          Thêm bài viết
        </button>
      </div>
    </div>

    <!-- list -->
    <div class="posts">
      <div
        class="post-item"
        *ngFor="let hotel of hotels">
        <div class="flex justify-end">
          <mat-icon class="remove-img-icon" (click)="deleteHotel(hotel.Id)" >delete</mat-icon>
        </div>

        <div routerLink="/agent/post-detail/{{ hotel.Id }}">
          <span class="block text-[1.3em] font-bold">{{
            hotel.HotelName
          }}</span>
          <span class="block"> {{ hotel.Address }} </span>
          <span class="block font-bold">
            Ngày đăng: {{ hotel.PostingDate | date : "dd-MM-yyyy" }}
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
