<div class="wrapper">
  <div class="container mx-auto w-2/3">
    <div class="form-submit my-5">
      <div class="text-[1.5em] font-bold text-center my-3">
        Your information
      </div>
      <form>
        <!-- name -->
        <div class="flex items-center justify-between gap-2 w-full">
          <div class="form-group w-1/2">
            <label class="mr-1">First name</label>
            <input class="form-control w-2/3" type="text" />
          </div>
          <div class="form-group w-1/2">
            <label class="mr-1">First name</label>
            <input class="form-control w-2/3" type="text" />
          </div>
        </div>

        <!-- email -->
        <div class="form-group">
          <label class="mr-1 w-1/6 block">Email</label>
          <input class="form-control w-4/6" readonly type="email" />
        </div>

        <!-- number -->
        <div class="form-group">
          <label class="mr-1 w-1/6 block">Phone number</label>
          <input class="form-control w-4/6" type="text" />
        </div>

        <!-- address -->
        <div class="form-group">
          <label class="mr-1 w-1/6 block">Address</label>
          <input class="form-control w-4/6" type="text" />
        </div>
      </form>
    </div>
  </div>
</div>
