<div class="wrapper mb-3">
  <!-- banner -->
  <section class="banner-wrapper mb-6">
    <div class="banner-container">
      <!-- background -->
      <div class="bg-banner"></div>

      <!-- search -->
      <div class="search-container p-8">
        <!-- input -->
        <div class="locate-wrapper">
          <mat-icon class="locate-icon">search</mat-icon>

          <div class="locate-input-container">
            <input class="locate-input" type="text" placeholder="location" />
          </div>
        </div>

        <!-- date -->
        <div class="mb-3 w-full border-2">
          <mat-form-field class="w-full">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input
                formControlName="start"
                matStartDate
                placeholder="Start date"
              />
              <input formControlName="end" matEndDate placeholder="End date" />
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>

        <!-- people -->
        <div class="people-wrapper mb-2">
          <div (click)="showDetailPeople()" class="people">
            <mat-icon class="people-icon">people</mat-icon>
            <div class="people-details">
              <span class="font-bold text-[1.3em]">{{ rooms }} rooms</span>
              <br />
              <span class="text-[1.2em]">{{ people }} people</span>
            </div>
            <mat-icon class="people-icon">expand_more</mat-icon>
          </div>

          <!-- people room detail -->
          <div
            [ngClass]="{
              'h-0': isShowedDetailPeople === false,
              'h-[82px] p-2': isShowedDetailPeople === true
            }"
            class="bg-[#d8b4fe] w-1/2 rounded-md overflow-hidden duration-300"
          >
            <!-- rooms -->
            <div class="room-details">
              <span class="w-full font-bold">Rooms</span>
              <div class="room-btn">
                <mat-icon (click)="decreaseRooms()" class="remove"
                  >remove</mat-icon
                >
                <span class="text-[1.2em]">{{ rooms }}</span>
                <mat-icon (click)="increaseRooms()" class="add"
                  >add_circle</mat-icon
                >
              </div>
            </div>

            <!-- people -->
            <div class="room-details">
              <span class="w-full font-bold">People</span>
              <div class="room-btn">
                <mat-icon (click)="decreasePeolple()" class="remove"
                  >remove</mat-icon
                >
                <span class="text-[1.2em]">{{ people }}</span>
                <mat-icon (click)="increasePeolple()" class="add"
                  >add_circle</mat-icon
                >
              </div>
            </div>
          </div>
        </div>

        <div class="search-btn">
          <a class="btn-primary">Search</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Top destinations in Vietnam -->
  <section class="destination-wrapper">
    <div class="text-center text-3xl font-bold mb-2">
      Top destinations in Vietnam
    </div>
    <div class="destination-container">
      <a
        *ngFor="let des of destinations"
        [routerLink]="['city', des.name]"
        (click)="navigateToCity(des)"
        class="destination-item"
      >
        <div class="img h-[9rem] w-[10rem] flex justify-center items-center">
          <img class="" [src]="des.imgUrl" alt="" />
        </div>
        <span class="city-name">{{ des.name }}</span>
        <span class="accommodations"
          >{{ des.accommodations }} accommodations</span
        >
      </a>
    </div>
  </section>

  <!-- Featured homes -->
  <section class="home-wrapper">
    <div class="text-center font-bold text-3xl mb-6">
      Featured homes recommended for you
    </div>

    <div class="mx-auto w-[480px] mb-2 border-b-2">
      <ul class="des-list">
        <li
          class="des-item"
          (click)="searchFeaturedHome(0)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 0
          }"
        >
          Ho Chi Minh City
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(1)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 1
          }"
        >
          Ha Noi
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(2)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 2
          }"
        >
          Da Nang
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(3)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 3
          }"
        >
          Nha Trang
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(4)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 4
          }"
        >
          Vung Tau
        </li>
      </ul>
    </div>

    <div class="homes">
      <div class="home" *ngFor="let city of hcmCity">
        <img class="mb-1" [src]="city.imgUrl" alt="" />
        <div>
          <span class="font-bold mb-3 block">{{ city.title }}</span>
          <div>
            <!-- vote -->
            <div class="vote">
              <!-- 3.5 -->
              <div class="w-1/3">
                <!-- start -->
                <ng-container
                  *ngFor="let item of [].constructor(city.vote | star); let i = index"
                >
                  <span class="material-icons star">star</span>
                </ng-container>

                <!-- half star -->
                <ng-container *ngIf="city.vote % 1 !== 0">
                  <span class="material-icons star">star_half</span>
                </ng-container>

                <!-- no star -->
                <ng-container
                  *ngFor="let item of [].constructor( city.vote | noStar ); let i = index"
                >
                <!--<mat-icon></mat-icon>-->
                  <span class="material-icons star">star_border</span>
                </ng-container>
              </div>
              <span class="text-[0.9em] text-blue-600 w-2/3">{{ city.address }}</span>
            </div>
            <!-- price -->
            <span class="text-red-500 text-1.1em] font-bold"
              >VND {{ city.price }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
