<div class="wrapper mb-3" >
  <!-- banner -->
  <section class="banner-wrapper mb-6">
    <div class="banner-container">
      <!-- background -->
      <div class="bg-banner"></div>

      
    </div>
  </section>

  <!-- city in Vietnam -->
  <section class="destination-wrapper" >
    <div class="text-center text-3xl font-bold mb-2">
      Destinations in Vietnam
    </div>
    <div class="destination-container">
      <a
        *ngFor="let city of tempCities"
        [routerLink]="['city', city.Name]"
        (click)="navigateToCity(city)"
        class="destination-item"
      >
        <div class="img h-[9rem] w-[10rem] flex justify-center items-center">
          <img
            class=""
            [src]="_environment.imgUrl + '/' + city.PhotoPath"
            alt=""
          />
        </div>
        <span class="city-name">{{ city.Name }}</span>
      </a>
    </div>

    <div class="text-center text-blue-400 cursor-pointer">
        <button (click)="seeMore()">
          <mat-icon *ngIf="isShowedAllCities === false" class="text-[2em]">expand_more</mat-icon>
          <mat-icon *ngIf="isShowedAllCities === true" class="text-[2em]">expand_less</mat-icon>
        </button>
    </div>
  </section>

  <!-- Featured homes -->
  <section class="home-wrapper">
    <div class="text-center font-bold text-3xl mb-6">
      Featured homes recommended for you
    </div>

    <div class="mx-auto w-[480px] mb-2 border-b-2">
      <ul class="des-list">
        <li
          class="des-item"
          (click)="searchFeaturedHome(0)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 0
          }"
        >
          Ho Chi Minh City
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(1)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 1
          }"
        >
          Ha Noi
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(2)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 2
          }"
        >
          Da Nang
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(3)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 3
          }"
        >
          Nha Trang
        </li>
        <li
          class="des-item"
          (click)="searchFeaturedHome(4)"
          [ngClass]="{
            'border-b-2 text-green-500 border-b-green-500':
              currentFeaturedIndex === 4
          }"
        >
          Vung Tau
        </li>
      </ul>
    </div>

    <div class="homes">
      <div class="home" *ngFor="let city of hcmCity">
        <img class="mb-1" [src]="city.ImgUrl" alt="" />
        <div>
          <span class="font-bold mb-3 block">{{ city.Title }}</span>
          <div>
            <!-- vote -->
            <div class="vote">
              <!-- 3.5 -->
              <div class="w-1/3">
                <!-- start -->
                <ng-container
                  *ngFor="
                    let item of [].constructor(city.Vote | star);
                    let i = index
                  "
                >
                  <span class="material-icons star">star</span>
                </ng-container>

                <!-- half star -->
                <ng-container *ngIf="city.Vote % 1 !== 0">
                  <span class="material-icons star">star_half</span>
                </ng-container>

                <!-- no star -->
                <ng-container
                  *ngFor="
                    let item of [].constructor(city.Vote | noStar);
                    let i = index
                  "
                >
                  <!--<mat-icon></mat-icon>-->
                  <span class="material-icons star">star_border</span>
                </ng-container>
              </div>
              <span class="text-[0.9em] text-blue-600 w-2/3">{{
                city.Address
              }}</span>
            </div>
            <!-- price -->
            <span class="text-red-500 text-1.1em] font-bold"
              >VND {{ city.Price }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
