<div class="sidebar-wrapper">
	<div class="sidebar-container">

		<!-- menu -->
		<div class="menu-container">
			<ul>
				<li class="menu-item" routerLink="/agent-tour" routerLinkActive="menu-active" >Add tour</li>
				<li class="menu-item" routerLink="/agent-tour/manage-package" routerLinkActive="menu-active">Manage package</li>
				<li class="menu-item" routerLink="/agent-tour/manage-tour" routerLinkActive="menu-active">Manage tours</li>
				
		
			</ul>
		</div>

		<!-- menu collapse -->
		<div class="menu-collapse">
			<ul>
				
			</ul>
		</div>

	</div>
</div>