<div class="wrapper">
	<div class="container-fluid">

		<!-- search -->
		<!--<div class="search">
			<button (click)="search()" class="btn-primary">Search</button>
			<input [(ngModel)]="searchString" name="searchString" class="search-input" type="text" placeholder="user name">
		</div>-->

		<!-- list users -->
		<div class="w-full">
			<div class="user-table">
				<table class="mb-1">
					<thead>
						<tr>
							<!--<th>.NO</th>-->
							<th>Họ tên</th>
							<th>Email</th>
							<th>Xác thực</th>
							<th>Số điện thoại</th>
							<th>Khóa</th>
							<th>Chức năng</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let user of users; let i = index">
							<!--<td>{{pageSize * currentPage + i + 1}}</td>-->
							<td>{{user.FirstName}} {{user.LastName}}</td>
							<td>{{user.Email}}</td>
							<td>
								<span *ngIf="user.EmailConfirmed === true">Đã xác thực</span>
								<span *ngIf="user.EmailConfirmed === false">Chưa xác thực</span>
							</td>
							<td>{{user.PhoneNumber}}</td>
							<td class="text-[#f97316] font-bold">{{user.LockoutEnd | date : 'hh:mm - dd/MM/yyyy'}}</td>
							<td>
								<mat-icon (click)="lockUser('lock',user)" *ngIf="user.LockoutEnd === null" title="lock" class="action-lock-icon">lock</mat-icon>
								<mat-icon (click)="lockUser('un-lock',user)" *ngIf="user.LockoutEnd !== null" title="un-lock" class="action-lock-icon">lock_open</mat-icon>
								<mat-icon (click)="showDeleteUser(user)" title="delete user" class="action-delete-icon">delete</mat-icon>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- pagination -->
				<!--<div class="flex items-center justify-start gap-2">
					<mat-icon class="navigate-btn" (click)="prevPage()">navigate_before</mat-icon>

					<div>
						{{currentPage + 1}} / {{totalPages}}
					</div>

					<mat-icon class="navigate-btn" (click)="nextPage()">navigate_next</mat-icon>
				</div>-->

			</div>
		</div>
	</div>
</div>

<!-- delete user modal -->
<div *ngIf="deleteUser === true && userToDelete !== null" class="delete-user-wrapper">
	<div class="delete-user-container">

		<div class="text-[1.5em] text-red-600 mb-3">Có muốn xóa <b>{{userToDelete.FirstName + ' ' + userToDelete.LastName }}</b></div>
		<!--<div>Do you want to delete hahaha</div>-->
		<div class="flex justify-center items-center gap-2">
			<button (click)="deleteUserSubmit()" class="btn-danger">Xóa</button>
			<button (click)="showDeleteUser(null)" class="btn-outline-primary">Trở lại</button>
		</div>
	</div>
</div>