<div class="wrapper h-screen">
	<div class="container mx-auto">
		
		<div class="text-center my-10 font-bold text-2xl">Reset password</div>

		<div class="form-container md:w-1/3 mx-auto">
			<form autocomplete="off" (submit)="reset()" [formGroup]="formSubmit">
				<div class="text-red-500">{{errorMessages}}</div>
				<span class="text-red-500 mb-2">{{errorMessage}}</span>
				<div class="form-group">
					<label class="label" >New password</label>
					<input formControlName="password" class="form-control" type="password" type="password" />
					<span class="text-red-500 mb-3" *ngIf="submitted === true && formSubmit.hasError('required','password')">
						Password is incorrect
					</span>
				</div>

				<div class="form-group">
					<label class="label">Confirm password</label>
					<input formControlName="confirmPassword" class="form-control" type="password" />
				</div>

				<div>
					<button type="submit" class="btn-primary w-full">Reset password</button>
				</div>

			</form>
		</div>
	</div>
</div>