
@{
    ViewData["Titel"] = "Danh sách loại phòng";
    List<RoomType> roomTypes = ViewBag.RoomTypes;
    int index = 0;
}

<div class="card">
    <div class="card-header">
        <div class="card-title w-100">
            <div class="d-flex gap-2 justify-content-between">
                <span class="d-block">Danh sách chi nhánh</span>
                <!-- Search container start -->
                <form class="search-container" asp-action="Index">
                    <div class="d-flex gap-2 align-items-center">
                        <!-- Search input group start -->
                        <div class="input-group border border-2 rounded">
                            <input type="text" asp-for="@Model" name="searchString" class="form-control" placeholder="Nhập tên loại phòng">
                            <button class="btn" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <!-- Search input group end -->
                        <div class="" style="width: 200px;">
                            <a asp-action="AddRoomType" class="ms-2 btn btn-outline-primary w-auto text-nowrap rounded my-auto">Thêm phòng</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="card-body">
        <div class="table-responsive">

            <table class="table v-middle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Loại phòng</th>
                    </tr>
                </thead>

                <tbody>
                    @if (roomTypes.Count() > 0)
                    {
                        @foreach (var type in roomTypes)
                        {
                            <tr class="fs-6">
                                <td>@(++index)</td>
                                <td>@type.RoomTypeName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

