.shadow-container {
  box-shadow: 0px 0px 8px #a2a2a3;
}

.input-field {
  @apply w-full p-2 border-none outline-none rounded duration-150;
	border: 1px solid #b8b8b8;
}

.input-field-error {
  @apply w-full p-2 border-none outline-none rounded duration-150;
	border: 1px solid #ff1919;
	box-shadow: 0px 0px 5px #ff1919;
}

.input-field:focus{
	box-shadow: 0px 0px 8px #2a75ed;
	border: 1px solid #2a75ed;
}


