<div class="wrapper  flex justify-center items-center gap-4">

    <div class="shadow-2xl login-form my-10  p-6 w-1/3 h-screen flex-col">

        <h1 style="font-size: xx-large; font-style: bold; text-align:center;">LOGIN</h1>
        <p style="font-size:large; font-family: Helvetica;">Để đảm bảo an toàn, xin vui lòng đăng nhập để truy cập vào thông tin</p>
        <form action="">
            <div class="mt-6 text-lg ">
                <label for="">Username</label><br>
                <input class="input-form mt-2" type ="text" placeholder="Username">
            </div>

            <div class="mt-6 text-lg">
                <label for="">Password</label><br>
                <input class="input-form mt-2" type ="text" placeholder="Password">
            </div>

            
                <div class="my-6 text-lg ">
                    <input class="" type="checkbox">
                    <label for="">Remember me</label>
                </div>

           
        </form>

                <div class="button-login  ">
                    <button>Sign in</button>
                </div>
       
                <div class="forgot-password ">
                    
                    <a  href="forgot password">Forgor password</a>
                    <a  href="Create account">Create account</a>
                </div>

                
             
           
                
           
    </div>

</div>