<div class="wrapper h-screen ">
  <div class="container mx-auto flex justify-center">
    <div class="form-submit">
      <form (submit)="send()" [formGroup]="formSubmit" autocomplete="off">
        <div class=" text-center">
          <h1 class="pt-10"><span class="text-blue-700">B</span><span class="text-purple-600">o</span><span class="text-green-500">o</span><span class="text-blue-500">K</span><span class="text-purple-400">ing</span></h1>
          <p class="text-2xl">Khôi phục tài khoản</p>
          <p class="text-[17px] px-10">Để giữ an toàn cho tài khoản của bạn, vui lòng nhập tài khoản gmail</p>
        </div>

        <div class="form-group">
          <div class="text-red-500  mb-2">{{errorMessage}}</div>
          <label></label>
          <input
            spellcheck="false"
            type="email"
            class="form-control"
            type="email"
						formControlName="email"
            placeholder="Nhập Email"
            class="emailbox"
          />
					<span class="text-red-500" *ngIf="submitted === true && formSubmit.hasError('email','email')">
						Email is required
					</span>

					<span class="text-red-500" *ngIf="submitted === true && formSubmit.hasError('required','email')">
						Email is incorrect
					</span>
        </div>

        <div>
          <button class="btn-primary w-20 mx-80 active:bg-blue-400">
            Gửi
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
