<div class="wrapper h-screen">
  <div class="container mx-auto">
    <div class="form-submit">
      <form autocomplete="off" [formGroup]="formSubmit" (ngSubmit)="send()">
        <div class="form-group">
          <label>Enter your email</label>
					<div *ngIf="submit === true" class="text-red-500 text-[1.2em] mb-2">{{errorMessages}}</div>
          <input formControlName="email" class="form-control" type="email" spellcheck="false" />
					<span class="text-red-500" *ngIf="submit === true && formSubmit.hasError('email','email')">
						Email is invalid
					</span>
					<span class="text-red-500" *ngIf="submit === true && formSubmit.hasError('required','email')">
						Email is required
					</span>
        </div>
        <div>
          <button class="btn-primary w-full">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
