<div class="sidebar-wrapper">
	
	<div class="sidebar-container">

		<!-- menu -->
		<div class="menu-container">
			<ul>
				<li class="menu-item" routerLink="/admin/user-management" routerLinkActive="menu-active" >Quản lý người dùng</li>
				<li class="menu-item" routerLink="/admin/hotel-management" routerLinkActive="menu-active" >Quản lý khách sạn</li>
				<li class="menu-item" routerLink="/admin/city-management" routerLinkActive="menu-active" >Quản lý tỉnh/thành phố</li>
				<li class="menu-item" routerLink="/admin/add-account" routerLinkActive="menu-active" >Cấp tài khoản</li>
				<li class="menu-item" routerLink="/admin/manage-tour-type" routerLinkActive="menu-active" >Quản lý các loại tour</li>
				<li class="menu-item" routerLink="/admin/feedback" routerLinkActive="menu-active" routerLinkActive="menu-active" >Phản hồi, góp ý</li>
			</ul>
		</div>

		<!-- menu collapse -->
		<div class="menu-collapse">
			<ul>
				<!--<li class="menu-item-collapse" routerLink="/admin/profile" routerLinkActive="menu-active" ><mat-icon>person</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/user-management" routerLinkActive="menu-active" ><mat-icon>people</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/city-manager" routerLinkActive="menu-active" ><mat-icon>location_city</mat-icon></li>
				<li class="menu-item-collapse" routerLink="/admin/notification" routerLinkActive="menu-active" ><mat-icon>notifications</mat-icon></li>
				<li class="menu-item-collapse" routerLinkActive="menu-active" ><mat-icon> contact_mail</mat-icon></li>-->
			</ul>
		</div>

	</div>
</div>