<div class="sidebar-wrapper">
	<div class="sidebar-container">

		<div class="menu-container">

			<ul>
				<li class="menu-item" routerLink="/admin/profile" routerLinkActive="menu-active" >Profile</li>
				<li class="menu-item" routerLink="/admin/user-management" routerLinkActive="menu-active" >User Management</li>
				<li class="menu-item" routerLink="/admin/notification" routerLinkActive="menu-active" >Notification</li>
				<li class="menu-item" routerLink="/c" routerLinkActive="menu-active" >Feed back</li>
			</ul>

		</div>

	</div>
</div>