<div class="wrapper">

  <div class="mb-3 container mx-auto">
    <ul class="nav-container">
      <li class="nav-item" (click)="dontCensor()" [class]="activated === '1' ? 'bg-[#2563eb] text-white': 'bg-white text-[#2563eb]'">
        <a class="nav-link">Chưa kiểm duyệt</a>
      </li>

      <li class="nav-item" (click)="censored()" [class]="activated === '0' ? 'bg-[#2563eb] text-white': 'bg-white text-[#2563eb]'">
        <a class="nav-link"> Đã kiểm duyệt </a>
      </li>
    </ul>
  </div>

	<div class="hotel-container">
		<div class="hotel-item" *ngFor="let hotel of hotels">
			<span class="block text-center font-bold text-[1.2em]">{{hotel.HotelName}}</span>
			<span class="block">Địa chỉ: {{hotel.Address}}</span>
			<span class="block">Người đăng: {{hotel.Poster.FirstName + ' ' + hotel.Poster.LastName}}</span>
			<span class="block">Ngày đăng: {{hotel.PostingDate | date : 'dd-MM-yyyy'}}</span>
			<div class="flex gap-2 mt-2" *ngIf="hotel.Approver === null">
				<button class="btn-primary" (click)="approve(hotel.Id)">Duyệt</button>
				<a class="btn-success cursor-pointer" routerLink="/employee/post-content/{{hotel.Id}}">Xem</a>
			</div>
			<div class="flex gap-2 mt-2" *ngIf="hotel.Approver !== null">
				<button class="btn-primary">Đã duyệt</button>
				<a class="btn-success cursor-pointer" routerLink="/employee/post-content/{{hotel.Id}}">Xem</a>
			</div>
		</div>
	</div>
</div>
