@model AddRoomPrice
@{
	ViewData["Title"] = "Thêm giá cho phòng";
	int roomId = ViewBag.RoomId;
}


<div class="card">
	<div class="card-body">
		<form class="row" asp-action="AddRoomPrice" asp-route-roomId="@roomId" >
			<div class="mx-auto col-sm-6 col-12">
				<div class="card-border">
					<div class="card-border-title">Thông tin giá phòng</div>
					<div class="card-border-body">
						<div class="row">
							<div class="col-sm-6 col-12">

								@* <input type="hidden" asp-for="Id" /> *@

								<div class="mb-3">
									<label asp-for="ValidFrom" class="form-label"></label>
									<input asp-for="ValidFrom" type="date" class="form-control" placeholder="Ngày áp dụng">
									<span asp-validation-for="ValidFrom" class="text-danger"></span>
								</div>
							</div>

							<div class="col-sm-6 col-12">
								<div class="mb-3">
									<label asp-for="GoodThru" class="form-label"></label>
									<input asp-for="GoodThru" type="date" class="form-control" placeholder="Ngày kết thúc">
									<span asp-validation-for="GoodThru" class="text-danger"></span>
								</div>
							</div>
							<div class="col-sm-12 col-12">
								<div class="mb-3">
									<label asp-for="Price" class="form-label"></label>
									<input asp-for="Price" type="number" class="form-control" placeholder="Giá phòng">
									<span asp-validation-for="Price" class="text-danger"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-12">
				<div class="custom-btn-group flex-end">
					<button type="submit" class="btn btn-success">Thêm giá phòng</button>
					<button type="reset" class="btn btn-light">Reset</button>
				</div>
			</div>
		</form>

	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
