@model Hotel
@{
    ViewData["Title"] = "Chi tiết";
    SelectList cities = ViewBag.citySelect;

    string[] imgHotels = ViewBag.imgHotels;
    string BaseImgUrl = ViewBag.BaseImgUrl;
}

<div class="card">
    <div class="card-header">
        <div class="card-title">Thông tin chi nhánh</div>
    </div>
    <div class="card-body">
        <form asp-action="UpdateHotel" class="d-block" enctype="multipart/form-data">
            <div class="row">

                <input type="hidden" asp-for="Id" />
                <div class="col-sm-6 col-12">
                    <div class="card-border">
                        <div class="card-border-title">Thông tin cơ bản</div>
                        <div class="card-border-body">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="mb-3">
                                        <label asp-for="HotelName" class="form-label"></label>
                                        <div class="input-group">
                                            <input asp-for="HotelName" type="text" class="form-control" placeholder="Tên Khách sạn">
                                            <span class="text-danger" asp-validation-for="HotelName"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class=" mb-3">
                                        <label asp-for="Address" class="form-label"></label>
                                        <div class="input-group">
                                            <input asp-for="Address" type="text" class="form-control" placeholder="Địa chỉ chi nhánh">
                                            <span class="text-danger" asp-validation-for="Address"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-12">
                                    <div class="mb-0">
                                        <label class="form-label">Chọn thành phố</label>
                                        <div class="input-group">
                                            <select class="form-control" asp-for="CityId" asp-items="@cities"></select>
                                            <span asp-validation-for="CityId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-12 ">
                    <div class="card-border ">
                        <div class="card-border-title">Mô tả</div>
                        <div class="card-border-body ">
                            <div class="row">
                                <div class="col-sm-12 col-12">
                                    <div class="mb-0">
                                        <label asp-for="Description" class="form-label"></label>
                                        <textarea asp-for="Description" rows="9" class="form-control"
                                                  placeholder="Nhập mô tả"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* choose img *@
                <div class="col-sm-12 col-12">
                    <div class="card-border">
                        <div class="card-border-title">Chọn ảnh cho khách sạn <input name="files" accept=".png, .jpg, .jpeg" id="fileInput" onchange="onSelect()" class="form-control" type="file" multiple /></div>
                        <div class="card-border-body">
                            <div id="dropzone" class="dropzone-dark">
                                <div class="dropzone needsclick dz-clickable" id="demo-upload">
                                    <div class="dz-message needsclick">
                                        <div id="images" class="boad-grid">
                                            @if (imgHotels != null)
                                            {
                                                @foreach (var url in imgHotels)
                                                {
                                                    <img src="@(BaseImgUrl)/@url" class="img-item" width="350" />
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-12">
                    <div class="custom-btn-group flex-end">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deleteImgModal">Xóa tất cả hình ảnh</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Xóa chi nhánh</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("partials/_DeleteModal",@$"Xóa chi nhánh,{Model.HotelName},,{Model.Id},hotel")
@await Html.PartialAsync("partials/_DeleteImgPartial",@$"Xóa tất cả hình ảnh,{Model.HotelName},,{Model.Id},img")


<script>
    function onSelect() {
        let fileInput = document.querySelector('#fileInput');
        let selectedImage = document.getElementById('images');
        const files = fileInput.files;

        selectedImage.innerHTML = '';
        for (let file of files) {
            var imageUrl = URL.createObjectURL(file);
            var imgElement = document.createElement('img');
            imgElement.src = imageUrl;
            imgElement.width = 350;
            imgElement.classList.add("img-item");

            // Hiển thị ảnh trên thẻ img
            selectedImage.appendChild(imgElement);
        }
    }
</script>
