
@{

	ViewData["Title"] = "Tìm kiếm tour";
	List<Tour> tours = ViewBag.tourList;
	string baseImgUrl = ViewBag.BaseImgUrl;
	List<double> prices = ViewBag.prices;
}

<link rel="stylesheet" href="~/css/search-tours/custom-tour.css" />


<div class="container-fluid">
	<!-- search -->
	<div class="mt-2">
		<!--input-->
		<div class="card m-0">
			<div class="card-body">
				<!-- search -->
				<div class="input-group w-50 mx-auto mb-2">
					<input type="text"
						   class="form-control search-location-custom"
						   placeholder="Địa điểm bạn muốn đến"
						   style="border-right: none" />
					<span class="input-group-text search-icon-custom"
						  style="border-left: none">
						<i class="bi bi-search"></i>
					</span>
				</div>

				<!-- loai tour -->
				<div class="tour-type-container">
					<div class="tour-type-filter d-flex justify-content-between align-items-center">
						<div class="activity-item tour-actived w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   style="color: gray; font-weight: 500"
							   href="#!"
							   role="button">
								<i class="bi bi-x-diamond-fill"></i>
								Tất cả
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-pci-card"></i>
								Chuyến tham quan
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-sun-fill"></i>
								Ngoài trời
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-projector"></i>
								Di chuyển
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-egg-fried"></i>
								Ẩm thực
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-geo-alt-fill"></i>
								Điểm tham quan
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-stars"></i>
								Sự kiện
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-suit-heart-fill"></i>
								Sức khỏe
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-ethernet"></i>
								Văn hóa
							</a>
						</div>

						<div class="activity-item w-auto d-inline-block w-auto">
							<a class="fs-6 btn rounded-5 px-2 py-1"
							   data-mdb-ripple-init
							   href="#!"
							   role="button">
								<i class="bi bi-house-fill"></i>
								Trong nhà
							</a>
						</div>
					</div>

					<!--<div class="tour-type-prev-btn">
									  <button
										  type="button"
										  class="rounded-circle btn-tour-custom btn-outline-secondary-custom"
									  >
										  <i class="bi bi-arrow-left-circle-fill"></i>
									  </button>
								  </div>

								  <div class="tour-type-next-btn">
									  <button
										  type="button"
										  class="rounded-circle btn-tour-custom btn-outline-secondary-custom"
										  class="btn btn-outline-secondary"
									  >
										  <i class="bi bi-arrow-right-circle-fill"></i>
									  </button>
								  </div>-->
				</div>
			</div>
		</div>
	</div>

	<div class="tour-content mt-2">
		<div class="row">
			<div class="col-md-3 d-md-block d-none ">
				<div class="content-sidebar card border rounded-4">
					<!-- sắp xếp -->
					<div class="sort-tour">
						<div class="card-header">
							<div class="card-title">Sắp xếp</div>
						</div>

						<div class="card-body">
							<div class="form-check">
								<input class="form-check-input"
									   type="radio"
									   name="flexRadioDefault"
									   id="flexRadioDefault1" />
								<label class="form-check-label" for="flexRadioDefault1">Được ưa chuộng</label>
							</div>

							<div class="form-check">
								<input class="form-check-input"
									   type="radio"
									   name="flexRadioDefault"
									   id="flexRadioDefault1" />
								<label class="form-check-label" for="flexRadioDefault1">Giá thấp nhất trước</label>
							</div>

							<div class="form-check">
								<input class="form-check-input"
									   type="radio"
									   name="flexRadioDefault"
									   id="flexRadioDefault1" />
								<label class="form-check-label" for="flexRadioDefault1">Xếp hạng cao nhất trước</label>
							</div>
						</div>
					</div>

					<!-- giá -->
					<div class="price-tour">
						<div class="sort-tour p-2">
							<div class="card-header">
								<div class="card-title">Giá</div>
							</div>

							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<label class="form-label" for="customRange1"><span id="price-label">0 </span><span>VNĐ</span></label>
									<label class="form-label" for="customRange1">20.000.000 VNĐ</label>
								</div>
								<div class="range" data-mdb-range-init>
									<input onchange="onChangePrice()" id="range-price" type="range" class="form-range" value="0" />
								</div>
							</div>
						</div>
					</div>

					<!-- đánh giá sao -->
					<div class="price-tour">
						<div class="sort-tour p-2">
							<div class="card-header">
								<div class="card-title">Đánh giá sao</div>
							</div>

							<div class="card-body">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label text-warning" for="flexCheckDefault">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label text-warning" for="flexCheckDefault">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label text-warning" for="flexCheckDefault">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label text-warning" for="flexCheckDefault">
										<i class="bi bi-star-fill"></i>
										<i class="bi bi-star-fill"></i>
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
									<label class="form-check-label text-warning" for="flexCheckDefault">
										<i class="bi bi-star-fill"></i>
									</label>
								</div>

							</div>
						</div>
					</div>

					<!-- danh mục -->
					<!-- đánh giá sao -->
					<div class="price-tour">
						<div class="sort-tour p-2">
							<div class="card-header">
								<div class="card-title">Danh mục</div>
							</div>

							<div class="card-body">
								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Tất cả</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Chuyến tham quan</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Ngoài trời</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Di chuyển</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Ẩm thực</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Điểm tham quan</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Sự kiện</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Sức khỏe</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Văn hóa</label>
								</div>

								<div class="form-check d-flex justify-content-start align-items-center py-2 border-bottom">
									<input class="form-check-input"
										   type="radio"
										   name="flexRadioDefault"
										   id="flexRadioDefault1" />
									<label class="form-check-label fs-6" for="flexRadioDefault1">Trong nhà</label>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-9 col-12">
				<div class="card border rounded-4">
					<!--<div class="card-header">
						<div class="card-title">Product List</div>
						<div class="ml-auto">
							<a href="view-cart.html" class="btn btn-dark"><span class="badge shade-red me-2">2</span>View
								Cart</a>
						</div>
					</div>-->

					<div class="card-body">

						<!-- Row start -->
						<div class="row">
							@{
								var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
								for(int i = 0; i < tours.Count(); i++)
								{
									string folderPath = @"wwwroot/resources/images/" + tours[i].PhotoPath;
									string[] files = Directory.GetFiles(folderPath);
									string[] tmp ;
									tmp = files[0].Replace('\\', '/').Split('/');
									
									<div class="col-xxl-3 col-md-4 col-sm-6 col-12">
										<div class="product-card">
											<img class="product-card-img-top" src="~/resources/images/@tours[i].PhotoPath/@tmp[tmp.Length-1]" alt="Bootstrap Gallery">
											<div class="product-card-body">
												<h5 class="product-title">@tours[i].TourName</h5>
												<div class="product-price">
													<span class="disount-price">@string.Format(info,"{0:c}", @prices[i])</span>
													
												</div>
												<!--<div class="product-rating">
													<div class="rate1 rating-stars"></div>
													<div class="total-ratings">2750</div>
												</div>-->
												
												<div class="product-actions">
													@* 									START TEST *@
													<button class="btn btn-success addToCart">
														<a asp-action="tourdetail" asp-route-tourId=@tours[i].TourId>Xem</a>
													</button>
													@* 									END TEST *@
													@* 											<button class="btn btn-success addToCart">Xem</button> *@
												</div>
											</div>
										</div>
									</div>
								}
							}
						</div>
						<!-- Row end -->

					</div>
				</div>



			</div>
		</div>
	</div>
</div>

<script src="~/js/search-tours/custom-tour.js"></script>