
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Tour/booktour.css">

<div class="col-lg-12 col-12 d-flex justify-content-center">
    <div class="col-sm-6 col-12 bg-color card-border bd">
        <p>Thanh toán an toàn</p>
        <div class="product-added-card">
            <img class="product-added-img" src="assets/images/food/img7.jpg" alt="Admin Panel">
            <div class="product-added-card-body">
                <h3 class="product-added-title ">Tên tour Tên tour Tên tour Tên tour Tên tour Tên tour Tên tour</h3>
                <div class="product-added-description">
                    Lettuce, cucumbers, tomatoes, scallions, corn, chicken with tangy barbecue ranch dressing.
                </div>
                <div class="icon d-flex">
                    <i class="bi bi-calendar2-week"></i>
                    <p>Ngày tháng</p>
                </div>
                <div class="icon d-flex">
                    <i class="bi bi-file-person"></i>
                    <p>Số lượng khách</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-10"><p class="font1"> Tổng chi phí</p></div>
            <div class="col-sm-4 col-10 "><p class="font">  100000000vnd</p> </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-12 d-flex justify-content-center">
    <div class="col-sm-6 col-12 bg-color card-border bd">

       
            <div class="transactions-container ">
                <div class="transaction-block">
                <div class="transaction-icon shade-blue">
                    <i class="bi bi-bag-check "></i>
                    </div>
                <div class="transaction-details">
                    <h4>Chi tiết thanh toán</h4>
                    
                    <p class="text-truncate">Tất cả dữ liệu thanh toán được bảo vệ và mã hóa hoàn toàn</p>
                    </div>                       
                </div>
            </div>
        <p>Chúng tôi chấp nhận</p>
        <div class=" d-flex justify-content-start mb-3">
            <img src="https://cdn6.agoda.net/images/mvc/default/ic_visa@2x_v3.png" alt="" class="iconpay">
            <img src="https://cdn6.agoda.net/images/mvc/default/ic_master.png" alt="" class="iconpay">
            <img src="https://cdn6.agoda.net/images/mvc/default/ic_americanexpress.png" alt="" class="iconpay">
        </div>


        <div class="accordion bd2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item ">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button col-12 col-sm-8">
                        Thẻ tín dụng/ghi nợ
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                     aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="col-sm-12 col-12">
                            <div class="mb-3">
                                <label class="form-label">Hình thức thanh toán</label>
                                <select class="form-select">
                                    <option value="">Select Country</option>
                                    <option value="" selected="">USA</option>
                                    <option value="">Brazil</option>
                                    <option value="">India</option>
                                    <option value="">Indonesia</option>
                                    <option value="">United Kingdom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12">
                            <div class="mb-3">
                                <label class="form-label">Tên trên thẻ</label>
                                <input type="text" class="form-control" value="Abigale">
                            </div>
                        </div>
                        <div class="col-sm-12 col-12">
                            <div class="mb-3">
                                <label class="form-label">Số thẻ tín dụng/thẻ ghi nợ</label>
                                <input type="text" class="form-control" value="Heaney">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-start pl">
                        <div class="col-sm-5 col-12 ">
                            <div class="mb-3">
                                <label class="form-label">Ngày hết hạn</label>
                                <input type="text" class="form-control" value="Abigale">
                            </div>
                        </div>
                        <div class="col-sm-5 col-12">
                            <div class="mb-3">
                                <label class="form-label">Mã bảo mật CVV</label>
                                <input type="text" class="form-control" value="Heaney">
                            </div>
                        </div>
                        <div class="col-12 col-sm-1">
                            <br>
                            <img src="https://cdn6.agoda.net/images/new-bf/cvv-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="pl text-blue">Bằng cách tiếp tục, tôi đồng ý với điều khoản sử dụng của Agoda và thừa nhận chính sách quyền riêng tư của họ</p>

    </div>
</div>

<div class="col-lg-12 col-12 d-flex justify-content-center ">
    <button type="button" class="btn btn-info col-sm-6 font1">Đặt ngay</button>
</div>

