.search-input {
	@apply w-[200px] outline-none px-3 py-2 rounded border-2 duration-100;

	&:focus {
		box-shadow:  0px 0px 1px 1px #2563eb;
	}
}

// list
.list-bussiness {
	@apply p-1 flex gap-2 flex-wrap;
}

.bussiness-item {
	@apply max-w-[230px] w-[230px] p-2 rounded border-2 duration-100;

	span {
		@apply block;
	}

	.bussiness-header{
		@apply text-[1.3em] font-bold border-b text-blue-600 flex items-center justify-between;
	}

	.bussiness-address {
		@apply text-[0.8em];
	}

	.bussiness-email {
		@apply font-bold underline;
	}

	.bussiness-phone {
		@apply font-bold;
	}
}

.icon {
	width: 25px;
	height: 25px;
	font-size: 25px;
	cursor: pointer;
}

.delete-icon {
	color: red;

	&:hover {
		color: rgb(100, 0, 0);
		transition: all .5s ease;
	}
}

.add-account-icon {
	color: #0ea5e9;

	&:hover {
		color: #034a6b;
		transition: all .5s ease;
	}
}

.accounts-icon {
	color: #22c55e;

	&:hover {
		color: #026c29;
		transition: all .5s ease;
	}
}