<div class="wrapper">

	<!-- search -->
	<div class="p-2 border-b flex justify-between items-center">
    <div class="flex gap-2">
      <button class="btn-primary">Tìm</button>
      <input class="search-input" type="text" placeholder="Tên khách sạn" />
    </div>

		<div>
			<button class="btn-primary" routerLink="/admin/bussiness-partner/add-bussiness-partner">Thêm khách sạn đối tác</button>
		</div>
  </div>

	<!-- list khách sạn đối tác -->
	<div class="list-bussiness">
		
		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>

		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>
		
		<div class="bussiness-item">
			<span class="bussiness-header">Khách sạn 5 sao số 2 Việt Name</span>
			<span class="bussiness-address" >40 Lê Văn Việt</span>
			<span class="bussiness-email">6251071104@gmail.com</span>
			<span class="bussiness-phone">0833402853</span>
		</div>


		
	</div>

</div>