<div class="wrapper">
  <!-- search -->
  <div class="p-2 border-b flex justify-between items-center">
    <div class="flex gap-2">
      <button class="btn-primary">Tìm</button>
      <input class="search-input" type="text" placeholder="Tên khách sạn" />
    </div>

    <div>
      <button
        class="btn-primary"
        routerLink="/admin/bussiness-partner/add-bussiness-partner"
      >
        Thêm khách sạn đối tác
      </button>
    </div>
  </div>

  <!-- list khách sạn đối tác -->
  <div class="list-bussiness">
    <div class="bussiness-item" *ngFor="let item of businessPartners">
        <span class="bussiness-header">
					{{ item.PartnerName }}	
					<mat-icon class="icon delete-icon" (click)="deleteBusPart(item.Id)">delete</mat-icon>
				</span>
        <span class="bussiness-address">{{ item.Address }}</span>
        <span class="bussiness-email">{{ item.Email }}</span>
        <span class="bussiness-phone">{{ item.PhoneNumber }}</span>
    </div>
  </div>
</div>
