<div class="wrapper">
  <div class="container h-screen">
    <!-- actions -->
    <div class="p-2 border-b flex justify-between items-center">
      <div class="flex gap-2">
        <button class="btn-primary">Tìm</button>
        <input class="search-input" type="text" placeholder="Tên tour" />
      </div>

      <div>
					<button class="btn-primary" routerLink="/agent-tour/add-tour">
						Thêm tour
					</button>
				</div>
    </div>

    <div class="list-tour">
			<div class="list-containter">

				<table class="w-full">
					<thead>
						<tr class="text-left">
							<th>Tên tour</th>
							<th>Địa chỉ</th>
							<th>Tỉnh/Thành</th>
							<th>Ngày bắt đầu</th>
							<th>Ngày kết thúc</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let tour of tours">
							<td>{{tour.TourName}}</td>
							<td>{{tour.TourAddress}}</td>
							<td>{{tour.City.Name}}</td>
							<td>{{tour.DepartureLocation}}</td>
							<td>{{tour.DropOffLocation}}</td>
							<td>
								<div>
									<mat-icon class="icon delete-icon" (click)="showDelete(tour.TourId)">delete</mat-icon>
									<mat-icon class="icon edit-icon" routerLink="/agent-tour/{{tour.TourId}}/update-tour">edit</mat-icon>
									<mat-icon class="icon type-icon" routerLink="/agent-tour/{{tour.TourId}}/add-tour-type"> merge_type</mat-icon>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
  </div>
</div>

<!-- delete -->
<div class="delete-modal" *ngIf="isShowDeleted === true">
  <div class="delete-container">
    <h1 class="text-center text-red-600">Có chắc chắn muốn xóa?</h1>
    <div class="flex justify-center items-center gap-1">
      <div class="flex justify-center items-center gap-1">
        <button class="btn-danger"  (click)="deleteTour()">Xóa</button>
        <button class="btn-primary"  (click)="showDelete(null)">Quay lại</button>
      </div>
    </div>
  </div>
</div>
