<div class="wrapper">
  <!-- search -->
  <div class="p-2 border-b flex justify-between items-center">
    <div class="flex gap-2">
      <button class="btn-primary">Tìm</button>
      <input class="search-input" type="text" placeholder="Tên đối tác" />
    </div>

    <div>
      <button
        class="btn-primary"
        routerLink="/admin/bussiness-partner/add-bussiness-partner"
      >
        Cấp tài khoản đối tác tour
      </button>
    </div>
  </div>

  <!-- list đối tác tour -->
  <div class="list-bussiness">
    <div class="bussiness-item">
      <span class="bussiness-header">Geoffrey Moore</span>
      <span class="bussiness-email">Berge@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Delores Price III</span>
      <span class="bussiness-email">Rohan@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Terry Wolff</span>
      <span class="bussiness-email">Koepp@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Rickey Cremin</span>
      <span class="bussiness-email">Nolan@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Monica Gleason</span>
      <span class="bussiness-email">Trantow@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Ollie Bailey</span>
      <span class="bussiness-email">Flatley@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Beulah Raynor</span>
      <span class="bussiness-email">Conn@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Francisco Gleason</span>
      <span class="bussiness-email">Renner@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Jackie Ullrich</span>
      <span class="bussiness-email">Bauch@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Brenda Trantow</span>
      <span class="bussiness-email">Gaylord@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Mr. Rudolph Bergstrom</span>
      <span class="bussiness-email">O'Hara@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Jim Crona</span>
      <span class="bussiness-email">Brown@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>

    <div class="bussiness-item">
      <span class="bussiness-header">Wade Roob</span>
      <span class="bussiness-email">Schmitt@gmail.com</span>
      <span class="bussiness-phone">0833402853</span>
    </div>
  </div>
</div>
