<div class="wrapper">
  <!-- search -->
  <div class="p-2 border-b flex justify-between items-center">
    <div class="flex gap-2">
      <button class="btn-primary">Tìm</button>
      <input class="search-input" type="text" placeholder="Tên đối tác" />
    </div>

    <div>
      <button
        class="btn-primary"
        routerLink="/admin/agent-tour/add-account"
      >
        Cấp tài khoản đối tác tour
      </button>
    </div>
  </div>

  <!-- list đối tác tour -->
  <div class="list-bussiness">
    <div class="bussiness-item" *ngFor="let agent of agents">
      <span class="bussiness-header">
        {{agent.FirstName + ' ' + agent.LastName}}
        <mat-icon class="icon delete-icon" (click)="delete(agent.Email)">delete</mat-icon> 
      </span>
      <span class="bussiness-email">{{agent.Email}}</span>
      <span class="bussiness-phone">{{agent.PhoneNumber}}</span>
    </div>
  </div>
</div>
