<div class="wrapper bg-[#eff6ff] pt-1 overflow-hidden">
  <div class="flex justify-between items-center mx-5 h-10">
    <div class="Logo">
      <img class="rounded-full" src="/assets/logo.jpg" width="100" alt="" />
    </div>

    <!-- menu -->
    <div class="menu flex gap-20">
      <ul class="flex justify-center items-center gap-20">
        <li class="menu-item" routerLink="/account/confirm-email">Hotels & Homes</li>
        <li class="menu-item">Activities</li>
        <li class="menu-item">Flights</li>
        <li class="menu-item" (click)="test()">Deals</li>
      </ul>

      <div class="flex items-center justify-center gap-2" *ngIf="(accountService.user$ | async) === null">
        <a class="btn-primary cursor-pointer" routerLink="/account/login"
          >Sign in</a
        >
        <a class="btn-outline-primary cursor-pointer" routerLink="/account/register" >
          Create account
        </a>
      </div>

      <div class="flex items-center justify-center gap-2" *ngIf="(accountService.user$ | async)">
        <a class="btn-primary cursor-pointer" routerLink="/account/login"
          >Hello</a
        >
        <a class="btn-outline-primary cursor-pointer" (click)="logout()" >
          Logout
        </a>
      </div>
    </div>

    <button (click)="showMenu()" class="collapse-btn">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- menu-collapse -->
    <div
      [ngClass]="{
        'w-[200px]': collapseMenu === true,
        'w-0 overflow-hidden': collapseMenu === false
      }"
      class="menu-collapse z-20 duration-200 bg-[#fed7aa] flex gap-2 flex-col rounded h-[267px]"
    >
      <ul
        class="flex justify-center items-center flex-col rounded overflow-hidden"
      >
        <li (click)="hideMenu()" class="menu-item">Hotels & Homes</li>
        <li (click)="hideMenu()" class="menu-item">Activities</li>
        <li (click)="hideMenu()" class="menu-item">Flights</li>
        <li (click)="hideMenu()" class="menu-item">Deals</li>
      </ul>

      <div  *ngIf="(accountService.user$ | async) === null"
        class="flex items-center justify-center gap-2 flex-col m-2 overflow-hidden"
      >
        <a
          (click)="hideMenu()"
          class="btn-primary cursor-pointer max-h-[36px] overflow-hidden"
          routerLink="/account/login"
          >Sign in</a
        >
        <a
          (click)="hideMenu()"
          class="btn-outline-primary cursor-pointer max-h-[36px] overflow-hidden"
          routerLink="/account/register"
          >Create account</a
        >
      </div>

      <div *ngIf="(accountService.user$ | async)"
        class="flex items-center justify-center gap-2 flex-col m-2 overflow-hidden"
      >
        <a
          (click)="hideMenu()"
          class="btn-primary cursor-pointer max-h-[36px] overflow-hidden"
          routerLink="/account/login"
          >Hello</a
        >
        <a
          (click)="logout()"
          class="btn-outline-primary cursor-pointer max-h-[36px] overflow-hidden"
          routerLink="/account/login"
          >Logout</a
        >
      </div>


    </div>
  </div>

  <div class="menu-wrapper"></div>
</div>
