<div class="wrapper bg-[#eff6ff] pt-1">

	<div class="menu flex justify-between items-center mx-5 h-10">
		<div class="Logo">LOGO</div>

		<div class="flex gap-20 ">
			<ul class="flex justify-center items-center gap-20">
				<li class="menu-item">Hotels & Homes</li>
				<li class="menu-item">Activities</li>
				<li class="menu-item">Flights</li>
				<li class="menu-item">Deals</li>
			</ul>

			<div	class="flex items-center justify-center gap-2">
				<a class="btn-primary cursor-pointer">Sign in</a>
				<a class="btn-outline-primary cursor-pointer">Create account</a>
			</div>

		</div>
	</div>

	<div class="menu-wrapper">

	</div>

</div>