@model Booking.Models.Tour

@{
    ViewData["Title"] = "Thêm tour";
    string postId = ViewBag.UserId;
}

<div class="card">
	<div class="card-header">
		<div class="card-title">Thêm tour</div>
	</div>

	<div class="card-body">
		
		<form asp-action="Create">
			<div class="row">
				<div class="col-sm-6 col-12">
					<div class="card-border">
						<div class="card-border-title">Thông tin</div>
						<div class="card-border-body">

							<div class="row">
								<div class="col-sm-12 col-12">
									<div class="mb-3">
										<label class="form-label">Tên tour <span class="text-red">*</span></label>
										<input asp-for="TourName" type="text" class="form-control" placeholder="Nhập tên tour">
										<span asp-validation-for="TourName" class="text-danger"></span>
									</div>
								</div>

								<div class="col-sm-12 col-12">
									<div class="mb-3">
										<label class="form-label">Địa chi <span class="text-red">*</span></label>
										<input asp-for="TourAddress" type="text" class="form-control" placeholder="Nhập địa chỉ tour">
										<span asp-validation-for="TourAddress" class="text-danger"></span>
									</div>
								</div>

								<div class="col-sm-12 col-12">
									<div class="mb-0">
										<label class="form-label">Tổng quan về tour <span class="text-red">*</span></label>
										<textarea asp-for="Overview" rows="4" class="form-control" placeholder="Nhập tổng quan"></textarea>
										<span asp-validation-for="Overview" class="text-danger"></span>
									</div>
								</div>

								<input type="hidden" asp-for="PosterID" value="@postId" />
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-12">
					<div class="card-border">
						<div class="card-border-title">Thông tin tiếp</div>
						<div class="card-border-body">

							<div class="row">
								<div class="col-sm-6 col-12">
									<div class="mb-3">
										<label class="form-label">Địa điểm đón khách <span class="text-red">*</span></label>
										<input asp-for="DepartureLocation" type="text" class="form-control" placeholder="Nhập địa điểm đón khách">
										<span asp-validation-for="DepartureLocation" class="text-danger"></span>
									</div>
								</div>
								<div class="col-sm-6 col-12">
									<div class="mb-3">
										<label class="form-label">Địa điểm trả khách <span class="text-red">*</span></label>
										<input asp-for="DropOffLocation" type="text" class="form-control" placeholder="Nhập địa điểm trả khách">
										<span asp-validation-for="DropOffLocation" class="text-danger"></span>
									</div>
								</div>

								<div class="col-sm-12 col-12">
									<div class="mb-0">
										<label class="form-label">Lịch trình <span class="text-red">*</span></label>
										<textarea asp-for="Schedule" rows="4" class="form-control" placeholder="Địa điểm thứ 1&#10;Địa điểm thứ 2&#10;Địa điểm thứ 3"></textarea>
										<span asp-validation-for="Schedule" class="text-danger"></span>
									</div>
								</div>
								<div class="col-sm-12 col-12">
									<div class="mb-3">
										<label class="form-label">Loại tour <span class="text-red">*</span></label>
										<select class="form-control" multiple>
											<option value="1" selected>Chuyến tham quan (Mặc định)</option>
											<option value="2">Ngoài trời</option>
											<option value="3">Di chuyển</option>
											<option value="4">Ẩm thực</option>
											<option value="5">Điểm tham quan</option>
											<option value="6">Sự kiện</option>
											<option value="7">Sức khỏe</option>
											<option value="8">Văn hóa</option>
											<option value="9">Trong nhà</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-12">
					<div class="card-border">
						<div class="card-border-title">Product Images</div>
						<div class="card-border-body">

							<div id="dropzone" class="dropzone-dark">
								<form action="/upload" class="dropzone needsclick dz-clickable" id="demo-upload">

									<div class="dz-message needsclick">
										<button type="button" class="dz-button">
											Drop files here or click to
											upload.
										</button><br>
										<span class="note needsclick">
											(This is just a demo dropzone. Selected files are
											<strong>not</strong> actually uploaded.)
										</span>
									</div>

								</form>
							</div>

						</div>
					</div>
				</div>

				<div class="col-sm-12 col-12">
					<div class="custom-btn-group flex-end">
						@* <button type="button" class="btn btn-light">Cancel</button> *@
						<button type="submit" href="products.html" class="btn btn-success">Lưu</button>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
