@model Booking.Models.Tour

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa tour</h1>

<h3>Bạn có muốn xóa tour du lịch này không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" value="@Model.TourId" name="id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay trở lại</a>
    </form>
</div>
