@model Booking.Models.Tour

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TourId" />
            <div class="form-group">
                <label asp-for="TourName" class="control-label"></label>
                <input asp-for="TourName" class="form-control" value =" @Model.TourName"/>
                <span asp-validation-for="TourName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourAddress" class="control-label"></label>
                <input asp-for="TourAddress" class="form-control" />
                <span asp-validation-for="TourAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Overview" class="control-label"></label>
                <input asp-for="Overview" class="form-control" />
                <span asp-validation-for="Overview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule" class="control-label"></label>
                <input asp-for="Schedule" class="form-control" />
                <span asp-validation-for="Schedule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureLocation" class="control-label"></label>
                <input asp-for="DepartureLocation" class="form-control" />
                <span asp-validation-for="DepartureLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropOffLocation" class="control-label"></label>
                <input asp-for="DropOffLocation" class="form-control" />
                <span asp-validation-for="DropOffLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourTypeId" class="control-label"></label>
                <input asp-for="TourTypeId" class="form-control" />
                <span asp-validation-for="TourTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostingDate" class="control-label"></label>
                <input asp-for="PostingDate" class="form-control" />
                <span asp-validation-for="PostingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovalDate" class="control-label"></label>
                <input asp-for="ApprovalDate" class="form-control" />
                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosterID" class="control-label"></label>
                <select asp-for="PosterID" class="form-control" asp-items="ViewBag.PosterID"></select>
                <span asp-validation-for="PosterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApproverID" class="control-label"></label>
                <select asp-for="ApproverID" class="form-control" asp-items="ViewBag.ApproverID"></select>
                <span asp-validation-for="ApproverID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
