<footer class="border-t-2 h-0 overflow-hidden sm:h-auto">
  <section class="bg-[#111827] text-white p-5 flex justify-center items-start gap-10">
    <!-- about us -->
    <div class="about">
      <div class="title">About</div>
      <div >Modi repellat repellendus blanditiis. Et aut placeat aut. Odit similique
        fuga error non error. Sed esse porro autem eius in facilis hic sapiente.
        Sunt cupiditate sint.</div>
    </div>

    <!-- contact us -->
    <div class="contact">
      <div class="title">Contact</div>
      <span class="mb-2 block">If you have any questions or concerns that we would like to answer,
        please contact us.</span
      >
      <ul class="">
        <li class="contact-item"><mat-icon>home</mat-icon> <span>1252 Candido Village</span></li>
        <li class="contact-item"><mat-icon> contact_phone</mat-icon> <span>0123456789</span></li>
        <li class="contact-item"><mat-icon> email</mat-icon> <span>vinhtin123@gmail.com</span></li>
      </ul>
    </div>

    <!-- feed back -->
    <div class="feed-back">
      <div class="mb-2">
        <div class="title">Evaluate service quality</div>
        <span>
          If you feel dissatisfied with the quality of our service, please let
          us know your opinion.
        </span>
      </div>
      <div>
        <textarea class="w-full text-blue-900 p-1 rounded" rows="4" spellcheck="false"></textarea>
        <button class="btn-default w-full">Send</button>
      </div>
    </div>
    
  </section>

  <section class="bg-[#111827] text-white text-center p-2">

    

    <div class="content-footer mb-5">
      Connect us.
    </div>

    <div class="icon-footer mb-2 flex justify-around">
      <img class="sosial-ion" src="/assets/svgs/facebook.svg" alt="">
      <img class="sosial-ion" src="/assets/svgs/instagram.svg" alt="">
      <img class="sosial-ion" src="/assets/svgs/google.svg" alt="">
      <img class="sosial-ion" src="/assets/svgs/mail.svg" alt="">
      <img class="sosial-ion" src="/assets/svgs/Linkedin.svg" alt="">
    </div>

    <div class="my-4"> Copyright by UTC2 </div>
  </section>
</footer>
