<footer class="bg-[#111827] text-white text-center p-2">
  <div class="content-footer mb-2">
    In laudantium qui tempore fugiat maiores perferendis harum. Quaerat quam
    dignissimos. Voluptatem nemo exercitationem.
  </div>
	
	<div class="icon-footer mb-2 flex justify-around">
		<span><mat-icon>timelapse</mat-icon></span>
		<span><mat-icon>view_comfy</mat-icon></span>
		<span><mat-icon>wb_cloudy</mat-icon></span>
		<span><mat-icon> category</mat-icon></span>
		<span><mat-icon> category</mat-icon></span>
	</div>

	<span>
		Copyright by UTC2
	</span>
</footer>
